.form
  margin-left: auto
  margin-right: auto

  &--request
    .form__label
      margin-bottom: 20px

    .form__button-block
      text-align: left

  &--design_request
    max-width: 900px

    .form__top
      @media(min-width: 768px)
        margin-bottom: 20px

    .form__label
      margin-bottom: 20px

    .upload-file_2
      height: auto
      min-height: 120px
      max-height: 300px
      margin-bottom: 20px
      text-align: center
      width: 100%

  &__label
    display: block
    margin-bottom: 20px
    position: relative

    .select2-container
      width: 100% !important

  &__label-text
    color: #666
    display: block
    line-height: 16px
    margin-bottom: 5px

    @media(min-width: 1200px)
      font-size: 12px

    @media(min-width: 1300px)
      font-size: 14px

  &__button-block
    margin-top: 45px

  &__button
    max-width: 410px
    width: 100%

  &__input-note
    color: #66788C
    font-size: 13px
    text-align: center
    margin-top: 10px

.required
  color: $main_color
