body
  color: #fff
  font-family: $main_font
  font-size: 12px
  font-weight: 400
  line-height: 1.5

  @media(min-width: 1200px)
    font-size: 16px
    line-height: 1.375

*
  outline: none

a
  color: #fff
  transition: color 0.3s

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6
  font-family: $secondary_font
  font-weight: 500
  margin-top: 0

p,
ol,
ul
  margin-top: 0
  margin-bottom: 0

ul,
ol
  list-style: none
  padding-left: 0

img
  height: auto
  max-width: 100%
  vertical-align: top

.nobr
  white-space: nowrap

.title
  color: #fff
  font-size: 28px
  font-weight: 500
  line-height: 1.33333
  margin-bottom: 17px
  text-transform: uppercase

  @media(min-width: 768px)
    margin-bottom: 25px

  @media(min-width: 1200px)
    font-size: 42px

  span
    color: $main_color
    position: relative

    &::-moz-selection
      background: #fff

    &::selection
      background: #fff

    &::before
      content: '/'
      left: -15px
      pointer-events: none
      position: absolute
      top: 50%
      transform: translateY(-50%)
      user-select: none

      @media(min-width: 1200px)
        left: -30px
