.orders-list
  border-collapse: collapse
  border: none
  color: #fff
  font-size: 10px
  text-align: left
  width: 100%

  @media(min-width: 375px)
    font-size: 12px

  @media(min-width: 1200px)
    font-size: 15px

  &__th
    border-bottom: 2px solid $main_color
    font-family: $secondary_font
    font-size: 11px
    padding: 5px
    text-align: left
    text-transform: uppercase
    white-space: nowrap

    @media(min-width: 992px)
      padding: 10px 15px

  &__cell
    border-bottom: 1px solid #333
    padding: 5px
    text-align: left

    @media(min-width: 992px)
      padding: 10px 15px

  tbody
    tr
      &:nth-child(even)
        .orders-list__cell
          background-color: #212121

  &__type-block
    text-align: center

    @media(min-width: 768px)
      display: none

  &__id-block
    white-space: nowrap

  &__date
    @media(max-width: 991px)
      display: none

  &__title
    @media(max-width: 767px)
      display: none

  &__cost
    @media(max-width: 767px)
      display: none

  &__price
    @media(min-width: 768px)
      display: none

  &__price-block
    white-space: nowrap

  &__status
    @media(min-width: 600px)
      font-weight: 700

    &--type_1
      color: #397FBE

    &--type_2
      color: $main_color

    &--type_3
      color: #25BA4F

  &__buttons
    @media(min-width: 1200px)
      text-align: right
      white-space: nowrap

  &__type
    color: #397FBE
    font-weight: 500

  &__button
    border: 1px solid #666
    color: #666
    display: inline-block
    font-family: $secondary_font
    font-size: 11px
    height: 28px
    margin-right: 10px
    margin-bottom: 5px
    padding: 5px 12px
    text-decoration: none
    text-transform: uppercase
    transition: border-color 0.3s, color 0.3s

    @media(min-width: 1200px)
      margin-bottom: 0

    &:last-child
      margin: 0

    &:hover
      border-color: #fff
      color: #fff
      text-decoration: none

.no-orders
  color: #808080
  font-size: 14px
  margin-top: 50px
  text-align: center

  @media(min-width: 992px)
    margin-top: 140px

  &__title
    color: #666
    font-family: $secondary_font
    font-size: 30px
    line-height: 36px
    margin-bottom: 20px
    margin-top: 20px

    @media(min-width: 1200px)
      font-size: 46px
      line-height: 51px

  a
    color: $main_color
    text-decoration: none

    &:hover
      text-decoration: underline

.order
  @media(min-width: 1200px)
    padding-right: 20px

  &__date
    border-bottom: 1px solid #323232
    color: rgba(#fff, 0.4)
    margin-bottom: 20px
    padding-bottom: 10px

    @media(min-width: 1200px)
      margin-bottom: 35px
      padding-bottom: 25px

  &__status-block
    margin-bottom: 40px

    @media(min-width: 600px)
      align-items: center
      display: flex
      justify-content: space-between

  &__statuses
    display: flex
    flex-wrap: wrap
    margin-bottom: 5px

    @media(min-width: 600px)
      margin-bottom: 0

  &__buttons
    .button
      min-width: 130px
      margin-right: 10px
      margin-bottom: 5px

      &:last-child
        margin-right: 0

  &__status-title
    color: rgba(#fff, 0.4)
    margin-bottom: 10px

  &__status
    align-items: center
    background-color: rgba(#fff, 0.1)
    border: 1px solid #666
    color: #fff
    display: inline-flex
    font-family: $secondary_font
    font-size: 13px
    justify-content: center
    line-height: 19px
    min-height: 36px
    margin-right: 5px
    margin-bottom: 5px !important
    margin-top: 0
    padding: 10px
    text-transform: uppercase
    vertical-align: middle

    @media(min-width: 768px)
      padding-left: 30px
      padding-right: 30px

    &--type_1
      border-color: #397FBE
      background-color: rgba(#397FBE, 0.1)
      color: #397FBE

  &__block
    background-color: #212121
    color: #808080
    margin-bottom: 10px
    padding: 15px 20px 10px
    position: relative

    @media(min-width: 768px)
      padding: 25px 30px 20px

    p
      margin-bottom: 10px

      &:last-child
        margin-bottom: 0

      span
        color: #fff
        padding-left: 10px
        padding-right: 10px

  &__block-val
    @media(min-width: 1200px)
      font-size: 14px

  &__block-edit
    min-width: 130px

    @media(min-width: 768px)
      left: auto
      position: absolute
      right: 30px
      top: 50%
      transform: translateY(-50%)
      z-index: 1

  &__item
    align-items: center
    display: flex
    flex-wrap: wrap

  &__item-title
    font-family: $secondary_font
    font-size: 24px
    padding-left: 0 !important

  &__item-more
    align-items: center
    border: 1px solid #666
    background-color: transparent
    color: #666
    display: inline-flex
    font-family: $secondary_font
    font-size: 11px
    justify-content: center
    line-height: 19px
    min-height: 28px
    padding: 6px 12px
    transition: background-color 0.3s, color 0.3s, border-color 0.3s
    text-transform: uppercase
    text-decoration: none
    vertical-align: middle

    &:hover
      background-color: $main_color
      border-color: $main_color
      color: #fff

  &__price-block
    border-top: 1px solid #323232
    margin-top: 35px
    padding-top: 30px

    @media(min-width: 600px)
      display: flex
      justify-content: space-between


  &__price
    font-family: $secondary_font
    font-size: 31px
