<div class="screen-3">
  <div class="container">
    <h2 class="title"><span>выбери свою</span> <span>КОНФИГУРАЦИЮ</span></h2>
    <div class="games">
      <div class="games__block">
        <p class="games__title">Выберите разрешение:</p>
        <div class="resolution">
          <button class="resolution__button is-active" type="button">1080P</button>
          <button class="resolution__button" type="button">2K</button>
          <button class="resolution__button" type="button">4K</button>
        </div>
        <p><a class="games__button" href="#">Настроить</a></p>
      </div>
      <div class="games__block">
        <p class="games__title">Выберите игру:</p>
        <div class="js-list-2 list-2">
          <div class="list-2__item">
            <button class="js-game l2-item is-active" type="button">
              <img class="l2-item__image" src="images/content/screen_3/img_1.jpg" alt="">
              <span class="l2-item__title">вf 5 - 1080p</span>
            </button>
          </div>
          <div class="list-2__item">
            <button class="js-game l2-item" type="button">
              <img class="l2-item__image" src="images/content/screen_3/img_1.jpg" alt="">
              <span class="l2-item__title">вf 5 - 1080p</span>
            </button>
          </div>
          <div class="list-2__item">
            <button class="js-game l2-item" type="button">
              <img class="l2-item__image" src="images/content/screen_3/img_1.jpg" alt="">
              <span class="l2-item__title">вf 5 - 1080p</span>
            </button>
          </div>
          <div class="list-2__item">
            <button class="js-game l2-item" type="button">
              <img class="l2-item__image" src="images/content/screen_3/img_1.jpg" alt="">
              <span class="l2-item__title">вf 5 - 1080p</span>
            </button>
          </div>
          <div class="list-2__item">
            <button class="js-game l2-item" type="button">
              <img class="l2-item__image" src="images/content/screen_3/img_1.jpg" alt="">
              <span class="l2-item__title">вf 5 - 1080p</span>
            </button>
          </div>
          <div class="list-2__item">
            <button class="js-game l2-item" type="button">
              <img class="l2-item__image" src="images/content/screen_3/img_1.jpg" alt="">
              <span class="l2-item__title">вf 5 - 1080p</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <p class="screen-3__text">Полученные показатели FPS являются усредненными и служат для демонстрации относительной производительности систем на максимальных настройках графики.</p>
  </div>
</div>