<div class="screen-2">
  <div class="container">
    <h2 class="title"><span>у нас есть несколько</span> <span>видов корпусов</span></h2>
    <div class="js-list-1 list-1">
      <div class="list-1__item">
        <a class="l1-item" href="images/content/screen_2/img_1.png" data-fancybox="boxes">
          <span class="l1-item__inner">
            <img class="l1-item__image" src="images/content/screen_2/img_1.png" alt="">
          </span>
        </a>
      </div>
      <div class="list-1__item">
        <a class="l1-item" href="images/content/screen_2/img_1.png" data-fancybox="boxes">
          <span class="l1-item__inner">
            <img class="l1-item__image" src="images/content/screen_2/img_1.png" alt="">
          </span>
        </a>
      </div>
      <div class="list-1__item">
        <a class="l1-item" href="images/content/screen_2/img_1.png" data-fancybox="boxes">
          <span class="l1-item__inner">
            <img class="l1-item__image" src="images/content/screen_2/img_1.png" alt="">
          </span>
        </a>
      </div>
      <div class="list-1__item">
        <a class="l1-item" href="images/content/screen_2/img_1.png" data-fancybox="boxes">
          <span class="l1-item__inner">
            <img class="l1-item__image" src="images/content/screen_2/img_1.png" alt="">
          </span>
        </a>
      </div>
      <div class="list-1__item">
        <a class="l1-item" href="images/content/screen_2/img_1.png" data-fancybox="boxes">
          <span class="l1-item__inner">
            <img class="l1-item__image" src="images/content/screen_2/img_1.png" alt="">
          </span>
        </a>
      </div>
      <div class="list-1__item">
        <a class="l1-item" href="images/content/screen_2/img_1.png" data-fancybox="boxes">
          <span class="l1-item__inner">
            <img class="l1-item__image" src="images/content/screen_2/img_1.png" alt="">
          </span>
        </a>
      </div>
    </div>
  </div>
</div>