<div class="screen-8">
  <div class="container">
    <h2 class="title"><span>FA</span><span>Q</span></h2>
    <div class="accordion-block">
      <div class="accordion">
        <div class="js-accordion-title accordion__title accordion__title--parent" data-link="1">Вопросы по Доставке</div>
        <div class="accordion__body" data-target="1">
          <div class="accordion">
            <div class="accordion">
              <div class="js-accordion-title accordion__title" data-link="11">В какие города вы осуществляете доставку?</div>
              <div class="accordion__body accordion__body--child" data-target="11">
                <p>Наша компания осуществляет доставку по всей территории России. Мы работаем только с проверенными логистическими компаниями, отправляемый груз обязательно будет застрахован на полную стоимость и снабжается дополнительной
                  упаковочной тарой, а также датчиками удара.</p>
              </div>
            </div>
            <div class="accordion">
              <div class="js-accordion-title accordion__title" data-link="12">Сколько стоит доставка в Санкт-Петербург</div>
              <div class="accordion__body accordion__body--child" data-target="12">
                <p>Доставка по Санкт-Петербургу осуществляется бесплатно. Сроки доставки - 1 рабочий день с момента готовности Вашего ПК к отгрузке.</p>
              </div>
            </div>
            <div class="accordion">
              <div class="js-accordion-title accordion__title" data-link="13">Сколько стоит доставка в Москву</div>
              <div class="accordion__body accordion__body--child" data-target="13">
                <p>Доставка по Москве в пределах МКАД осуществляется бесплатно. Отправка грузов в Москву производится регулярно, поэтому мы можем гарантировать максимально короткие сроки доставки, - 1 рабочий день с момента готовности Вашего ПК к
                  отгрузке.</p>
              </div>
            </div>
            <div class="accordion">
              <div class="js-accordion-title accordion__title" data-link="14">Сколько стоит доставка в мой город?</div>
              <div class="accordion__body accordion__body--child" data-target="14">
                <p>Вне зависимости от региона Вашего проживания и удаленности населенного пункта мы обеспечим надежную и бесплатную доставку Вашего игрового ПК. При необходимости Вы можете уточнить информацию по срокам доставки у наших специалистов
                  по телефону +7 (800) 500-99-26 или по электронной почте <a href="mailto: order@digital-razor.ru">order@digital-razor.ru</a></p>
              </div>
            </div>
            <div class="accordion">
              <div class="js-accordion-title accordion__title" data-link="15">Мой город отсутствует в списке доставки</div>
              <div class="accordion__body accordion__body--child" data-target="15">
                <p>Если Ваш город отсутствует в списке, просто укажите название Вашего города в поле комментарий в момент оформления заказа. Наши менеджеры свяжутся с Вами для уточнения деталей и обязательно найдут оптимальные варианты доставки для
                  Вашего населенного пункта.</p>
              </div>
            </div>
            <div class="accordion">
              <div class="js-accordion-title accordion__title" data-link="16">Я переживаю за сохранность груза при доставке</div>
              <div class="accordion__body accordion__body--child" data-target="16">
                <p>Не переживайте, мы специально разработали ряд специальных мер обеспечивающих надежную транспортировку в любой регион нашей страны:</p>
                <ul>
                  <li>Все отправления застрахованы на полную стоимость</li>
                  <li>Сохранность комплектующих обеспечивает специальный пенопакет, который заполняет пустые пространства и предотвращает компоненты от встряски и изломов креплений.</li>
                  <li>При доставке мы используем фирменный деревянный ящик* с датчиком удара, который сигнализиует об ударах или иных серьезных встрясках при перевозке.</li>
                  <li>*В серии DigitalRazor ProGaming деревянный ящик платный. В остальных сериях ящик предоставляется бесплатно.</li>
                </ul>
              </div>
            </div>
            <div class="accordion">
              <div class="js-accordion-title accordion__title" data-link="17">Возможна доставка в другие страны?</div>
              <div class="accordion__body accordion__body--child" data-target="17">
                <p>Доставка возможна в страны Таможенного Союза: Казахстан, Белоруссия, Армения, Киргизия.<br>
                  Более точную информацию Вы можете получить у наших специалистов по телефону +7 (800) 500-99-26 или по электронной почте <a href="mailto: order@digital-razor.ru">order@digital-razor.ru</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="js-accordion-title accordion__title accordion__title--parent" data-link="2">Вопросы по Оплате</div>
        <div class="accordion__body" data-target="2">
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="21">Как я могу оплатить заказ на игровой компьютер?</div>
            <div class="accordion__body accordion__body--child" data-target="21">
              <p>Вы можете оплатить заказ наиболее удобным для Вас способом:</p>
              <ul>
                <li>Банковской картой на сайте</li>
                <li>Наличными в офисе компании в Санкт-Петербурге И Москве</li>
                <li>Банковским переводом по счету для физического лица</li>
                <li>Банковским переводом по счету для юридического лица</li>
                <li>С помощью сервиса PayPal</li>
                <li>С помощью сервиса онлайн кредитования</li>
              </ul>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="22">Возможна ли оплата после получения заказ?</div>
            <div class="accordion__body accordion__body--child" data-target="22">
              <p>На текущий момент оплата после получения заказ невозможна. Это обусловлено производственными процессами и условиями доставки:</p>
              <ul>
                <li>Все компьютеры собираются под заказ, поэтому производственная линия требует бесперебойной работы. Любой отказ от заказа ведет к сбоям и увеличениям сроков сборки для всех клиентов. </li>
                <li>Во всех сборках используются новые комплектующие. В случае отказа от компьютера все компоненты системы теряют товарный вид, что не позволяет их использовать в дальнейшем.</li>
                <li>Игровые компьютеры это габаритный груз, средняя стоимость которого выше среднестатистических товаров. По этим причинам транспортные компании не могут принимать подобные грузы с оплатой при получении.</li>
              </ul>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="23">Я переживаю, что после предоплаты заказа, я не получу свой компьютер</div>
            <div class="accordion__body accordion__body--child" data-target="23">
              <p>Мы создаем первоклассные игровые компьютеры более 10 лет. Мы дорожим своей репутацией и не видим смысла обманывать своих клиентов.</p>
              <p>Также Вы можете ознакомиться с отзывами наших клиентов в официальной группе <a href="https://vk.com/topic-69517420_32017194?offset=0">DigitalRazor</a></p>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="24">Могу ли я приобрести компьютер в кредит?</div>
            <div class="accordion__body accordion__body--child" data-target="24">
              <p>Мы предлагаем воспользоваться удобным сервисом, который позволяет подать заявку в кредит сразу в несколько банков, не выходя из дома. Просто выберите соответвующий способ оплаты при оформлении Вашего заказа, и заполните анкету по
                форме банка. После этого в течение 2-х минут Вы получите ответ от всех банков, которые готовы выдать кредит на покупку игрового компьютера. Более подробную информацию по вопросам кредитования Вы можете получить у наших специалистов
                по телефону +7 (800) 500-99-26 или по электронной почте <a href="mailto: order@digital-razor.ru">order@digital-razor.ru</a></p>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="25">Есть ли скидки на игровые компьютеры?</div>
            <div class="accordion__body accordion__body--child" data-target="25">
              <p>Безусловно! В конфигураторах акционные предложения отмечены специальными бейджиками. Подробную информацию о действующих скидках, специальных предложениях и маркетинговых акциях мы публикуем на нашем сайте в разделе <a href="/info/aktsii/">"Акции"</a>.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="js-accordion-title accordion__title accordion__title--parent" data-link="3">Вопросы по Гарантии</div>
        <div class="accordion__body" data-target="3">
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="31">Что делать если компьютер не работает?</div>
            <div class="accordion__body accordion__body--child" data-target="31">
              <p>
                По всем возникающим техническим вопросам Вы можете обратиться на нашу горячую линию по бесплатному номеру телефону: - +7 (800) 500-99-26 или на электронную почту: <a href="mailto: order@digital-razor.ru">order@digital-razor.ru </a>.<br>
                Менеджеры нашей компании постараются помочь решить вопрос максимально оперативно. Если задача требует привлечения технических специалистов, мы проведем первичную диагностику и сообщим о дальнейших шагах удобным для Вас способом.<br>
                Как показывает наша практика большая часть проблем связана с программной частью и может быть решена путем удаленного подключения.<br>
                Если проблема обусловлена аппаратными неисправностями и требует замены компонентов компьютер необходимо привезти в один из наших сервисных центров. <br>Сервисные центры нашей компании находятся в г. Санкт-Петербург и г. Москва.
              </p>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="32">Как мне доставить компьютер в сервисный центр?</div>
            <div class="accordion__body accordion__body--child" data-target="32">
              <p>Сервисный центры нашей компании находятся по адресам:</p>
              <ul>
                <li>Санкт-Петербург, Краснопутиловская 69. <br>Контакты: service@digital-razor.ru, Россия: +7 (800) 500-99-26</li>
                <li>Москва, Шоссе Энтузиастов, дом 31с38, 3 этаж, офис 14<br> телефон: +7 (495) 229-39-60</li>
                <li>Условия и стоимость доставки оборудования в СЦ зависит от серии игровых компьютеров DigitalRazor и приобретенного пакета гарантии:</li>
                <li><b>High-Performance - серия</b>, доставка в СЦ осуществляется бесплатно за счет нашей компании в обе стороны вне зависимости от региона</li>
                <li><b>Performance - серия</b>, доставка в СЦ осуществляется бесплатно за счет нашей компании для Москвы и Санкт-Петербурга, для регионов существует 50% компенсация стоимости расходов на транспортировку</li>
                <li><b>Progaming - серия</b>, доставка в СЦ осуществляется за счет клиента</li>
              </ul>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="33">Как долго осуществляется гарантийный ремонт?</div>
            <div class="accordion__body accordion__body--child" data-target="33">
              <p>Мы прекрасно понимаем, что для многих ПК служит не только средством развлечения, но и инструментом для профессиональной работы и его отсутствие накладывает значительные неудобства. Именно поэтому наша основная задача выявить
                неисправность и устранить ее в максимально сжатые сроки.</p>
              <p>Как правило диагностика и замена компонентов занимает не более 1-3 рабочих дней.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion">
        <div class="js-accordion-title accordion__title accordion__title--parent" data-link="4">Вопросы по Сборке</div>
        <div class="accordion__body" data-target="4">
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="41">Сколько занимает сборка игрового компьютера?</div>
            <div class="accordion__body accordion__body--child" data-target="41">
              <p>
                Срок сборки игрового компьютера зависит от сложности системы и наличия дефицитных компонентов в Вашей конфигурации. <br>
                Для серии <b>ProGaming</b> средний срок сборки составляет 3-4 рабочих дня <br>
                Для серии <b>Performance</b> средний срок сборки составляет 3-5 рабочих дня <br>
                Для <b>Игровых моноблоков</b> средний срок сборки составляет 5-7 рабочих дня <br>
                Для серии <b>Performance X</b> средний срок сборки составляет 3-7 рабочих дня <br>
                Для серии <b>EVOLUTION</b> средний срок сборки составляет 10-15 рабочих дня <br>
                Для Моддинговых решений срок сборки зависит от перечня работ и согласовывается с менеджером.
              </p>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="42">Есть ли у Вас готовые компьютеры?</div>
            <div class="accordion__body accordion__body--child" data-target="42">
              <p>Основная идея нашей компании собирать первоклассные компьютеры под задачи клиентов, создавая компьютер именно под Ваши потребности. Наш конфигуратор позволяет Вам создать свой компьютер именно таким, каким Вы его себе представляете,
                выбрать цвет подсветки, корпуса, серию компонентов и т.д. Именно поэтому у нас нет предсобранных конфигураций на складе. Большая часть компонентов присутствующих в конфигураторе присутствует на складе, поэтому Ваш ПК будет собран в
                максимально кратчайшие сроки.</p>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="43">Могу ли добавить свои комплектующие в сборку компьютера?</div>
            <div class="accordion__body accordion__body--child" data-target="43">
              <p>Да конечно, Вы вправе вносить изменения в конфигурацию Вашего пк в любое время, без потери гарантии. Единственное что стоит учитывать при самостоятельном апгрейде или обслуживании ПК - мы несем ответственность за работоспособность и
                совместимость только своих компонентов. Если вы планируете произвести Upgrade - обратитесь к нашим менеджерам за бесплатной консультацией и специальной ценой на комплектующие для модернизации.</p>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="44">Можно купить комплектующие отдельно?</div>
            <div class="accordion__body accordion__body--child" data-target="44">
              <p>Мы продаем только готовые компьютеры. Исключение составляют некоторые компоненты ограниченных серий, которые отсутствуют в свободной продаже. При необходимости Вы можете уточнить информацию по срокам и точной стоимости таких
                компонентов у наших специалистов по телефону +7 (800) 500-99-26 или по электронной почте <a href="mailto: order@digital-razor.ru">order@digital-razor.ru</a></p>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="45">Хочу установить комплектующие, которых нет в конфигураторе?</div>
            <div class="accordion__body accordion__body--child" data-target="45">
              <p>Если в наших конфигураторах Вы не обнаружили необходимые Вам компоненты, свяжитесь с нами любым удобным способом, и мы постараемся найти возможность привезти под заказ и установить данные комплектующие в Ваш игровой компьютер.</p>
            </div>
          </div>
          <div class="accordion">
            <div class="js-accordion-title accordion__title" data-link="46">Мой компьютер придет в собранном состоянии?</div>
            <div class="accordion__body accordion__body--child" data-target="46">
              <p>Игровые компьютеры DigitalRazor доставляются только в собранном виде. Системы проходят полный цикл: сборку компьютера, настройку программного обеспечения, стресс-тестирования от 8 до 48 часов и финальную проверку ОТК по готовности
                системы. Только после этого компьютер отправляется к Вам.<br> <b>Собирать первоклассные игровые компьютеры - это наша работа.</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>