<div class="screen-1">
  <div class="screen-1__inner container">
    <div class="screen-1__text-block">
      <h1 class="screen-1__title">Игровые компьютеры <span>ENTHOO EVOLV SHIFT X</span></h1>
      <p class="screen-1__text">Мощные компьютеры для геймеров и энтузиастов, которые хотят получить максимально качественный и плавный геймплей на ультра-высоких настройках.</p>
      <p><a class="button button--arrow" href="#"><span class="button__text">Собрать свой пк</span></a></p>
    </div>
    <div class="screen-1__image-block">
      <img src="images/content/screen_1/img_1.png" alt="ENTHOO EVOLV SHIFT X">
    </div>
  </div>
</div>
