<div class="screen-12">
  <div class="container">
    <h2 class="title"><span>Наши</span> <span>преимущества</span></h2>
    <div class="list-7">
      <div class="list-7__item">
        <div class="l7-item">
          <div class="l7-item__image-block"><img src="images/content/screen_12/img_1.svg" alt=""></div>
          <div class="l7-item__info">
            <p class="l7-item__title">БЕСПЛАТНАЯ ДОСТАВКА</p>
            <p class="l7-item__text">Бесплатная и надежная доставка со&nbsp;страхованием по России</p>
          </div>
        </div>
      </div>
      <div class="list-7__item">
        <div class="l7-item">
          <div class="l7-item__image-block"><img src="images/content/screen_12/img_2.svg" alt=""></div>
          <div class="l7-item__info">
            <p class="l7-item__title">ГАРАНТИЯ 3 ГОДА</p>
            <p class="l7-item__text">Гарантия на игровые компьютеры&nbsp;составляет от&nbsp;12 до&nbsp;36&nbsp;месяцев</p>
          </div>
        </div>
      </div>
      <div class="list-7__item">
        <div class="l7-item">
          <div class="l7-item__image-block"><img src="images/content/screen_12/img_3.svg" alt=""></div>
          <div class="l7-item__info">
            <p class="l7-item__title">СТРЕСС - ТЕСТИРОВАНИЕ</p>
            <p class="l7-item__text">Все компьютеры проходят комплексное&nbsp;стресс-тестирование</p>
          </div>
        </div>
      </div>
      <div class="list-7__item">
        <div class="l7-item">
          <div class="l7-item__image-block"><img src="images/content/screen_12/img_4.svg" alt=""></div>
          <div class="l7-item__info">
            <p class="l7-item__title">СЕРВИСНЫЕ ЦЕНТРЫ</p>
            <p class="l7-item__text">В Москве и Санкт-Петербурге, для&nbsp;регионов бесплатный трансфер*</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>