<div class="screen-11">
  <div class="container">
    <h2 class="title"><span>Основные</span> <span>характеристики</span></h2>
    <div class="screen-11__image-block"><img class="screen-11__image" src="images/content/screen_11/img_1.png" alt=""></div>
    <div class="list-6">
      <div class="list-6__item">
        <p class="list-6__item-title">18-core</p>
        <p class="list-6__item-text">processor</p>
      </div>
      <div class="list-6__item">
        <p class="list-6__item-title">5.0GHz</p>
        <p class="list-6__item-text">turbo Boost</p>
      </div>
      <div class="list-6__item">
        <p class="list-6__item-title">64GB</p>
        <p class="list-6__item-text">memory</p>
      </div>
      <div class="list-6__delimiter"></div>
      <div class="list-6__item">
        <p class="list-6__item-title">3.5GB/s</p>
        <p class="list-6__item-text">SSD read speed</p>
      </div>
      <div class="list-6__item">
        <p class="list-6__item-title">15TB</p>
        <p class="list-6__item-text">storage space</p>
      </div>
      <div class="list-6__item">
        <p class="list-6__item-title">130 TFLOPS</p>
        <p class="list-6__item-text">computer power</p>
      </div>
    </div>
  </div>
</div>