<div class="screen-10">
  <div class="container">
    <h2 class="title"><span>Обратная</span> <span>связь</span></h2>
    <p class="screen-10__text">Вы можете оставить запрос на подбор игрового компьютера и уточнить интересующую Вас информацию. Наши специалисты ответят в течении суток с момента отправки формы обратной связи.</p>
    <form class="form" action="/" method="post">
      <div class="form__inner">
        <div class="form__block">
          <label class="form__label" for="name">
            <input id="name" class="input" name="name" type="text" value="" placeholder="Введите Ваше имя">
          </label>
          <label class="form__label" for="email">
            <input id="email" class="input error" name="email" type="text" value="" placeholder="Электронный адрес">
          </label>
          <label class="form__label" for="phone">
            <input id="phone" class="input" name="phone" type="text" value="" placeholder="Номер телефона">
          </label>
        </div>
        <div class="form__block">
          <label class="form__label" for="message">
            <textarea id="message" class="textarea" name="message" placeholder="Ваше сообщение..."></textarea>
          </label>
        </div>
      </div>
      <div class="form__button-block">
        <button class="button" type="button">Отправить</button>
      </div>
    </form>
  </div>
</div>
