<div class="screen-4">
  <div class="container">
    <h2 class="title"><span>доступные</span> <span>конфигурации</span></h2>
  </div>
  <div class="list-8-container">
    <div class="js-list-8 list-8">
      <div class="list-8__item">
        <div class="l8-item">
          <div class="l8-item__image">
            <img src="images/content/screen_4/img_1.png" alt="">
            <span class="l8-item__fps-block"><span class="l8-item__fps">80</span> FPS</span>
          </div>
          <div class="l8-item__info">
            <p class="l8-item__title">ENTHOO EVOLV SHIFT X</p>
            <div class="l8-item__buy-block">
              <div class="l8-item__price-block">
                <p class="l8-item__price">119 000 руб.</p>
                <p class="l8-item__credit-price">от 7 438 руб./мес</p>
              </div>
              <a class="l8-item__buy-button" href="#" title="В корзину">
                <svg class="l8-item__buy-icon" aria-hidden="true">
                  <use xlink:href="#cart" />
                </svg>
              </a>
            </div>
            <a class="l8-item__config-button" href="#">
              <svg class="l8-item__config-icon" aria-hidden="true">
                <use xlink:href="#config" />
              </svg>
              Собрать свой вариант
            </a>
            <p class="l8-item__config-title">Выберите тип конфигуратора:</p>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#cpu" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Процессор:</p>
                <p class="config-option__text">8-ядерный AMD Ryzen 7 3700X 3.60 GHz</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ram" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Оперативная память:</p>
                <p class="config-option__text">16GB (2x8Gb) DDR4 3000Mhz</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#fan" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Видеокарта:</p>
                <p class="config-option__text">AMD Radeon 5700 XT 8G</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ssd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопитель SSD M.2:</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ssd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопитель SSD SATA:</p>
                <p class="config-option__text">SSD 480GB</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#hdd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопители HDD:</p>
                <p class="config-option__text">Жесткий диск 2TB</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#warranty" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Гарантия:</p>
                <p class="config-option__text">Гарантия 36 месяцев</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-8__item">
        <div class="l8-item">
          <div class="l8-item__image">
            <img src="images/content/screen_4/img_2.png" alt="">
            <span class="l8-item__fps-block"><span class="l8-item__fps">80</span> FPS</span>
          </div>
          <div class="l8-item__info">
            <p class="l8-item__title">ENTHOO EVOLV SHIFT X</p>
            <div class="l8-item__buy-block">
              <div class="l8-item__price-block">
                <p class="l8-item__price">119 000 руб.</p>
                <p class="l8-item__credit-price">от 7 438 руб./мес</p>
              </div>
              <a class="l8-item__buy-button" href="#" title="В корзину">
                <svg class="l8-item__buy-icon" aria-hidden="true">
                  <use xlink:href="#cart" />
                </svg>
              </a>
            </div>
            <a class="l8-item__config-button" href="#">
              <svg class="l8-item__config-icon" aria-hidden="true">
                <use xlink:href="#config" />
              </svg>
              Собрать свой вариант
            </a>
            <p class="l8-item__config-title">Выберите тип конфигуратора:</p>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#cpu" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Процессор:</p>
                <p class="config-option__text">8-ядерный AMD Ryzen 7 3700X 3.60 GHz</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ram" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Оперативная память:</p>
                <p class="config-option__text">16GB (2x8Gb) DDR4 3000Mhz</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#fan" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Видеокарта:</p>
                <p class="config-option__text">AMD Radeon 5700 XT 8G</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ssd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопитель SSD M.2:</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ssd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопитель SSD SATA:</p>
                <p class="config-option__text">SSD 480GB</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#hdd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопители HDD:</p>
                <p class="config-option__text">Жесткий диск 2TB</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#warranty" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Гарантия:</p>
                <p class="config-option__text">Гарантия 36 месяцев</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-8__item">
        <div class="l8-item">
          <div class="l8-item__image">
            <img src="images/content/screen_4/img_3.png" alt="">
            <span class="l8-item__fps-block"><span class="l8-item__fps">80</span> FPS</span>
          </div>
          <div class="l8-item__info">
            <p class="l8-item__title">ENTHOO EVOLV SHIFT X</p>
            <div class="l8-item__buy-block">
              <div class="l8-item__price-block">
                <p class="l8-item__price">119 000 руб.</p>
                <p class="l8-item__credit-price">от 7 438 руб./мес</p>
              </div>
              <a class="l8-item__buy-button" href="#" title="В корзину">
                <svg class="l8-item__buy-icon" aria-hidden="true">
                  <use xlink:href="#cart" />
                </svg>
              </a>
            </div>
            <a class="l8-item__config-button" href="#">
              <svg class="l8-item__config-icon" aria-hidden="true">
                <use xlink:href="#config" />
              </svg>
              Собрать свой вариант
            </a>
            <p class="l8-item__config-title">Выберите тип конфигуратора:</p>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#cpu" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Процессор:</p>
                <p class="config-option__text">8-ядерный AMD Ryzen 7 3700X 3.60 GHz</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ram" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Оперативная память:</p>
                <p class="config-option__text">16GB (2x8Gb) DDR4 3000Mhz</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#fan" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Видеокарта:</p>
                <p class="config-option__text">AMD Radeon 5700 XT 8G</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ssd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопитель SSD M.2:</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ssd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопитель SSD SATA:</p>
                <p class="config-option__text">SSD 480GB</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#hdd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопители HDD:</p>
                <p class="config-option__text">Жесткий диск 2TB</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#warranty" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Гарантия:</p>
                <p class="config-option__text">Гарантия 36 месяцев</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-8__item">
        <div class="l8-item">
          <div class="l8-item__image">
            <img src="images/content/screen_4/img_4.png" alt="">
            <span class="l8-item__fps-block"><span class="l8-item__fps">80</span> FPS</span>
          </div>
          <div class="l8-item__info">
            <p class="l8-item__title">ENTHOO EVOLV SHIFT X</p>
            <div class="l8-item__buy-block">
              <div class="l8-item__price-block">
                <p class="l8-item__price">119 000 руб.</p>
                <p class="l8-item__credit-price">от 7 438 руб./мес</p>
              </div>
              <a class="l8-item__buy-button" href="#" title="В корзину">
                <svg class="l8-item__buy-icon" aria-hidden="true">
                  <use xlink:href="#cart" />
                </svg>
              </a>
            </div>
            <a class="l8-item__config-button" href="#">
              <svg class="l8-item__config-icon" aria-hidden="true">
                <use xlink:href="#config" />
              </svg>
              Собрать свой вариант
            </a>
            <p class="l8-item__config-title">Выберите тип конфигуратора:</p>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#cpu" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Процессор:</p>
                <p class="config-option__text">8-ядерный AMD Ryzen 7 3700X 3.60 GHz</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ram" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Оперативная память:</p>
                <p class="config-option__text">16GB (2x8Gb) DDR4 3000Mhz</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#fan" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Видеокарта:</p>
                <p class="config-option__text">AMD Radeon 5700 XT 8G</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ssd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопитель SSD M.2:</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#ssd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопитель SSD SATA:</p>
                <p class="config-option__text">SSD 480GB</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#hdd" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Накопители HDD:</p>
                <p class="config-option__text">Жесткий диск 2TB</p>
              </div>
            </div>
            <div class="l8-item__config-option config-option">
              <div class="config-option__icon-block">
                <svg class="config-option__icon" aria-hidden="true">
                  <use xlink:href="#warranty" />
                </svg>
              </div>
              <div class="config-option__info">
                <p class="config-option__title">Гарантия:</p>
                <p class="config-option__text">Гарантия 36 месяцев</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
