<div class="screen-6">
  <div class="container">
    <h2 class="title"><span>Доступные</span> <span>конфигурации</span></h2>
    <div class="list-4">
      <div class="list-4__item">
        <a class="l4-item" href="images/content/screen_6/img_1.jpg" data-fancybox="config">
          <img class="l4-item__image" src="images/content/screen_6/img_1.jpg" alt="">
          <span class="l4-item__title">продуманная инженерия</span>
        </a>
      </div>
      <div class="list-4__item">
        <a class="l4-item" href="images/content/screen_6/img_2.jpg" data-fancybox="config">
          <img class="l4-item__image" src="images/content/screen_6/img_2.jpg" alt="">
          <span class="l4-item__title">материалы, которые создают классный вид</span>
        </a>
      </div>
      <div class="list-4__item">
        <a class="l4-item" href="images/content/screen_6/img_3.jpg" data-fancybox="config">
          <img class="l4-item__image" src="images/content/screen_6/img_3.jpg" alt="">
          <span class="l4-item__title">Возможность различной компоновки и продуманный кабель</span>
        </a>
      </div>
      <div class="list-4__item">
        <a class="l4-item" href="images/content/screen_6/img_4.jpg" data-fancybox="config">
          <img class="l4-item__image" src="images/content/screen_6/img_4.jpg" alt="">
          <span class="l4-item__title">компактный форм-фактор устанавлиются топовые компоненты</span>
        </a>
      </div>
      <div class="list-4__item">
        <a class="l4-item" href="images/content/screen_6/img_5.jpg" data-fancybox="config">
          <img class="l4-item__image" src="images/content/screen_6/img_5.jpg" alt="">
          <span class="l4-item__title">модификаций корпуса</span>
        </a>
      </div>
      <div class="list-4__item">
        <a class="l4-item" href="images/content/screen_6/img_6.jpg" data-fancybox="config">
          <img class="l4-item__image" src="images/content/screen_6/img_6.jpg" alt="">
          <span class="l4-item__title">поддержка систем водяного охлаждения</span>
        </a>
      </div>
    </div>
  </div>
</div>