<div class="screen-9">
  <div class="container">
    <h2 class="title"><span>Разновидности</span> <span>цветовой гаммы</span></h2>
  </div>
  <div class="screen-9__inner">
    <div class="js-list-5 list-5">
      <div class="list-5__item">
        <a class="l5-item" href="images/content/screen_9/img_1.jpg" data-fancybox="images">
          <img class="l5-item__image" src="images/content/screen_9/img_1.jpg" alt="Изображение">
        </a>
      </div>
      <div class="list-5__item">
        <a class="l5-item" href="images/content/screen_9/img_2.jpg" data-fancybox="images">
          <img class="l5-item__image" src="images/content/screen_9/img_2.jpg" alt="Изображение">
        </a>
      </div>
      <div class="list-5__item">
        <a class="l5-item" href="images/content/screen_9/img_3.jpg" data-fancybox="images">
          <img class="l5-item__image" src="images/content/screen_9/img_3.jpg" alt="Изображение">
        </a>
      </div>
      <div class="list-5__item">
        <a class="l5-item" href="images/content/screen_9/img_4.jpg" data-fancybox="images">
          <img class="l5-item__image" src="images/content/screen_9/img_4.jpg" alt="Изображение">
        </a>
      </div>
      <div class="list-5__item">
        <a class="l5-item" href="images/content/screen_9/img_5.jpg" data-fancybox="images">
          <img class="l5-item__image" src="images/content/screen_9/img_5.jpg" alt="Изображение">
        </a>
      </div>
      <div class="list-5__item">
        <a class="l5-item" href="images/content/screen_9/img_6.jpg" data-fancybox="images">
          <img class="l5-item__image" src="images/content/screen_9/img_6.jpg" alt="Изображение">
        </a>
      </div>
      <div class="list-5__item">
        <a class="l5-item" href="images/content/screen_9/img_7.jpg" data-fancybox="images">
          <img class="l5-item__image" src="images/content/screen_9/img_7.jpg" alt="Изображение">
        </a>
      </div>
      <div class="list-5__item">
        <a class="l5-item" href="images/content/screen_9/img_8.jpg" data-fancybox="images">
          <img class="l5-item__image" src="images/content/screen_9/img_8.jpg" alt="Изображение">
        </a>
      </div>
      <div class="list-5__item">
        <a class="l5-item" href="images/content/screen_9/img_9.jpg" data-fancybox="images">
          <img class="l5-item__image" src="images/content/screen_9/img_9.jpg" alt="Изображение">
        </a>
      </div>
      <div class="list-5__item">
        <a class="l5-item" href="images/content/screen_9/img_10.jpg" data-fancybox="images">
          <img class="l5-item__image" src="images/content/screen_9/img_10.jpg" alt="Изображение">
        </a>
      </div>
    </div>
  </div>
</div>
