<div class="block-7">
  <div class="container">
    <h1 class="title"><span>Выбери</span> устройство</h1>
    <div class="block-7__tabs-nav">
      <p class="block-7__tabs-title">Для какого вида залов:</p>
      <div class="block-7__buttons-block">
        <button class="js-tab-changer block-7__button is-active" type="button" data-target="1">Стандартный</button>
        <button class="js-tab-changer block-7__button" type="button" data-target="2">Vip</button>
      </div>
    </div>
    <!--<p class="block-7__text accented-text">Мы оснастили более 10 игровых клубов и проконсультировали более сотни клиентов. Проанализировав их потребности, предлагаем несколько оптимальных конфигураций:</p>-->
    <div class="configs-tab is-active is-visible" data-target="1">
      <h2 class="configs-tab__title h3 text-center">ДЛЯ СТАНДАРТНЫХ ЗАЛОВ:</h2>
      <div class="big-cards">
        <div class="big-cards__item">
          <div class="big-card">
            <div class="big-card__box">
              <div class="big-card__info">
                <div class="big-card__info-block">
                  <div class="big-card__image-block">
                    <img src="images/content/block_7/img_1.png" alt="">
                    <span class="big-card__fps-block"><span class="big-card__fps">66 FPS</span></span>
                  </div>
                  <p class="big-card__title">mini-ITX</p>
                  <p class="big-card__text">Эксклюзивный дизайн ORIGIN для ПК малого форм-фактора, который может поместиться в небольших помещениях вертикально или горизонтально</p>
                  <button class="button button--arrow" type="button"><span class="button__text">запросить цену</span></button>
                </div>
                <div class="big-card__info-block">
                  <p class="big-card__resolution-title">Выберите разрешение:</p>
                  <div class="big-card__resolution-block">
                    <button class="big-card__resolution is-active" type="button">1080 P</button>
                    <button class="big-card__resolution" type="button">1440 P</button>
                  </div>
                  <!--<p class="big-card__config-title">Конфигуратор:</p>-->
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#cpu_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Процессор:</p>
                      <p class="config-option__text">8-ядерный AMD Ryzen 7 3700X 3.60 GHz</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ram_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Оперативная память:</p>
                      <p class="config-option__text">16GB (2x8Gb) DDR4 3000Mhz</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#gpu_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Видеокарта:</p>
                      <p class="config-option__text">AMD Radeon 5700 XT 8G</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ssd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопитель SSD M.2:</p>
                      <p class="config-option__text">-</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ssd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопитель SSD SATA:</p>
                      <p class="config-option__text">SSD 480GB</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#hdd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопители HDD:</p>
                      <p class="config-option__text">Жесткий диск 2TB</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#warranty_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Гарантия:</p>
                      <p class="config-option__text">Гарантия 36 месяцев</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="big-card__games">
              <div class="games-title"><h3>Сравните игры</h3></div>
              <div class="games-list">
                <button class="games-list__button is-active" type="button"><img src="images/content/block_7/img_3.png" alt="PUBG"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_4.png" alt="CS:GO"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_5.png" alt="DOTA2"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_6.png" alt="JEDI"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_7.png" alt="FORTNITE"></button>
              </div>
              <div class="graphs">
                <div class="graphs__hz">
                  <div class="graphs__hz-item"><span class="graphs__hz-text">0 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">60 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">144 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">240 Гц</span></div>
                </div>
                <p class="graphs__title">1080p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 1080p</p>
                  <div class="graph__value" style="width: 80%">160 FPS</div>
                </div>

                <p class="graphs__title">1440p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 1440p</p>
                  <div class="graph__value" style="width: 60%">130 FPS</div>
                </div>

                <p class="graphs__title">2160p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 2160p</p>
                  <div class="graph__value" style="width: 30%">50 FPS</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="big-cards__item">
          <div class="big-card">
            <div class="big-card__box">
              <div class="big-card__info">
                <div class="big-card__info-block">
                  <div class="big-card__image-block">
                    <img src="images/content/block_7/img_2.png" alt="">
                    <span class="big-card__fps-block"><span class="big-card__fps">66 FPS</span></span>
                  </div>
                  <p class="big-card__title">ProGaming</p>
                  <p class="big-card__text">Решает задачи плавной картинки и качественно геймплея без разрывов изображения за счет высокого FPS (120+) в современных играх тип AAA</p>
                  <button class="button button--arrow" type="button"><span class="button__text">запросить цену</span></button>
                </div>
                <div class="big-card__info-block">
                  <p class="big-card__resolution-title">Выберите разрешение:</p>
                  <div class="big-card__resolution-block">
                    <button class="big-card__resolution is-active" type="button">1080 P</button>
                    <button class="big-card__resolution" type="button">1440 P</button>
                  </div>
                  <!--<p class="big-card__config-title">Конфигуратор:</p>-->
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#cpu_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Процессор:</p>
                      <p class="config-option__text">6-ядерный Intel Core i5-9400F 2.90 GHz</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ram_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Оперативная память:</p>
                      <p class="config-option__text">16GB (2x8Gb) DDR4 2666Mhz</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#gpu_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Видеокарта:</p>
                      <p class="config-option__text">NVIDIA GeForce GTX 1660 Ti 6G</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ssd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопитель SSD M.2:</p>
                      <p class="config-option__text">-</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ssd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопитель SSD SATA:</p>
                      <p class="config-option__text">SSD M.2 240GB</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#hdd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопители HDD:</p>
                      <p class="config-option__text">Жесткий диск 2TB</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#warranty_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Гарантия:</p>
                      <p class="config-option__text">Гарантия 36 месяцев</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="big-card__games">
              <div class="games-title"></div>
              <div class="games-list">
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_3.png" alt="PUBG"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_4.png" alt="CS:GO"></button>
                <button class="games-list__button is-active" type="button"><img src="images/content/block_7/img_5.png" alt="DOTA2"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_6.png" alt="JEDI"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_7.png" alt="FORTNITE"></button>
              </div>
              <div class="graphs">
                <div class="graphs__hz">
                  <div class="graphs__hz-item"><span class="graphs__hz-text">0 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">60 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">144 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">240 Гц</span></div>
                </div>
                <p class="graphs__title">1080p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 1080p</p>
                  <div class="graph__value" style="width: 80%">160 FPS</div>
                </div>

                <p class="graphs__title">1440p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 1440p</p>
                  <div class="graph__value" style="width: 60%">130 FPS</div>
                </div>

                <p class="graphs__title">2160p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 2160p</p>
                  <div class="graph__value" style="width: 30%">50 FPS</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="configs-tab" data-target="2">
      <h2 class="configs-tab__title h3 text-center">ДЛЯ VIP ЗАЛОВ:</h2>
      <div class="big-cards">
        <div class="big-cards__item">
          <div class="big-card">
            <div class="big-card__box">
              <div class="big-card__info">
                <div class="big-card__info-block">
                  <div class="big-card__image-block">
                    <img src="images/content/block_7/img_2.png" alt="">
                    <span class="big-card__fps-block"><span class="big-card__fps">66 FPS</span></span>
                  </div>
                  <p class="big-card__title">ProGaming</p>
                  <p class="big-card__text">Решает задачи плавной картинки и качественно геймплея без разрывов изображения за счет высокого FPS (120+) в современных играх тип AAA</p>
                  <button class="button button--arrow" type="button"><span class="button__text">запросить цену</span></button>
                </div>
                <div class="big-card__info-block">
                  <p class="big-card__resolution-title">Выберите разрешение:</p>
                  <div class="big-card__resolution-block">
                    <button class="big-card__resolution is-active" type="button">1080 P</button>
                    <button class="big-card__resolution" type="button">1440 P</button>
                  </div>
                  <!--<p class="big-card__config-title">Конфигуратор:</p>-->
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#cpu_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Процессор:</p>
                      <p class="config-option__text">6-ядерный Intel Core i5-9400F 2.90 GHz</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ram_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Оперативная память:</p>
                      <p class="config-option__text">16GB (2x8Gb) DDR4 2666Mhz</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#gpu_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Видеокарта:</p>
                      <p class="config-option__text">NVIDIA GeForce GTX 1660 Ti 6G</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ssd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопитель SSD M.2:</p>
                      <p class="config-option__text">-</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ssd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопитель SSD SATA:</p>
                      <p class="config-option__text">SSD M.2 240GB</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#hdd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопители HDD:</p>
                      <p class="config-option__text">Жесткий диск 2TB</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#warranty_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Гарантия:</p>
                      <p class="config-option__text">Гарантия 36 месяцев</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="big-card__games">
              <div class="games-title"><h3>Сравните игры</h3></div>
              <div class="games-list">
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_3.png" alt="PUBG"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_4.png" alt="CS:GO"></button>
                <button class="games-list__button is-active" type="button"><img src="images/content/block_7/img_5.png" alt="DOTA2"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_6.png" alt="JEDI"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_7.png" alt="FORTNITE"></button>
              </div>
              <div class="graphs">
                <div class="graphs__hz">
                  <div class="graphs__hz-item"><span class="graphs__hz-text">0 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">60 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">144 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">240 Гц</span></div>
                </div>
                <p class="graphs__title">1080p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 1080p</p>
                  <div class="graph__value" style="width: 80%">160 FPS</div>
                </div>

                <p class="graphs__title">1440p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 1440p</p>
                  <div class="graph__value" style="width: 60%">130 FPS</div>
                </div>

                <p class="graphs__title">2160p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 2160p</p>
                  <div class="graph__value" style="width: 30%">50 FPS</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="big-cards__item">
          <div class="big-card">
            <div class="big-card__box">
              <div class="big-card__info">
                <div class="big-card__info-block">
                  <div class="big-card__image-block">
                    <img src="images/content/block_7/img_1.png" alt="">
                    <span class="big-card__fps-block"><span class="big-card__fps">66 FPS</span></span>
                  </div>
                  <p class="big-card__title">enthoo evolv shift x</p>
                  <p class="big-card__text">Решает задачи плавной картинки и качественно геймплея без разрывов изображения за счет высокого FPS (120+) в современных играх тип AAA</p>
                  <button class="button button--arrow" type="button"><span class="button__text">запросить цену</span></button>
                </div>
                <div class="big-card__info-block">
                  <p class="big-card__resolution-title">Выберите разрешение:</p>
                  <div class="big-card__resolution-block">
                    <button class="big-card__resolution is-active" type="button">1080 P</button>
                    <button class="big-card__resolution" type="button">1440 P</button>
                  </div>
                  <!--<p class="big-card__config-title">Конфигуратор:</p>-->
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#cpu_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Процессор:</p>
                      <p class="config-option__text">8-ядерный AMD Ryzen 7 3700X 3.60 GHz</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ram_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Оперативная память:</p>
                      <p class="config-option__text">16GB (2x8Gb) DDR4 3000Mhz</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#gpu_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Видеокарта:</p>
                      <p class="config-option__text">AMD Radeon 5700 XT 8G</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ssd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопитель SSD M.2:</p>
                      <p class="config-option__text">-</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#ssd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопитель SSD SATA:</p>
                      <p class="config-option__text">SSD 480GB</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#hdd_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Накопители HDD:</p>
                      <p class="config-option__text">Жесткий диск 2TB</p>
                    </div>
                  </div>
                  <div class="big-card__config-option config-option">
                    <div class="config-option__icon-block">
                      <svg class="config-option__icon" aria-hidden="true">
                        <use xlink:href="#warranty_2" />
                      </svg>
                    </div>
                    <div class="config-option__info">
                      <p class="config-option__title">Гарантия:</p>
                      <p class="config-option__text">Гарантия 36 месяцев</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="big-card__games">
              <div class="games-title"></div>
              <div class="games-list">
                <button class="games-list__button is-active" type="button"><img src="images/content/block_7/img_3.png" alt="PUBG"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_4.png" alt="CS:GO"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_5.png" alt="DOTA2"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_6.png" alt="JEDI"></button>
                <button class="games-list__button" type="button"><img src="images/content/block_7/img_7.png" alt="FORTNITE"></button>
              </div>
              <div class="graphs">
                <div class="graphs__hz">
                  <div class="graphs__hz-item"><span class="graphs__hz-text">0 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">60 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">144 Гц</span></div>
                  <div class="graphs__hz-item"><span class="graphs__hz-text">240 Гц</span></div>
                </div>
                <p class="graphs__title">1080p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 1080p</p>
                  <div class="graph__value" style="width: 80%">160 FPS</div>
                </div>

                <p class="graphs__title">1440p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 1440p</p>
                  <div class="graph__value" style="width: 60%">130 FPS</div>
                </div>

                <p class="graphs__title">2160p</p>
                <div class="graph">
                  <p class="graph__title">Разрешение 2160p</p>
                  <div class="graph__value" style="width: 30%">50 FPS</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
