<div class="block-12">
  <div class="container">
    <h2 class="title"><span>Ты можешь</span> быть&nbsp;следующим</h2>
    <p class="block-12__text accented-text">Мы реализовали несколько проектов игровых клубов. Наиболее интересные поделились своим мнением:</p>
    <div class="js-reviews-slider reviews-slider">
      <div class="reviews-slider__slide">
        <div class="review">
          <div class="review__top">
            <div class="review__info">
              <p class="review__title">SKYNET CYBER ZONE</p>
              <p class="review__text">Вот и я получил копьютер. Огромное спасибо DigitalRazor за отличную работу. Отдельное спасибо Дмитрию Изотову и Дмитрию Ткач за помощь в реализации моих хотелок. Все четко, сообщения о всех этапах работы. Сделано
                все качественно, я очень доволен. Рекомендую!</p>
            </div>
            <div class="review__image"><img src="images/content/block_12/img_1.jpg" alt=""></div>
          </div>
          <div class="review__author">
            <div class="review__author-avatar"><img src="images/content/block_12/img_3.jpg" alt=""></div>
            <div class="review__author-info">
              <p class="review__author-name">АНДРЕЙ КРАСОВ</p>
              <p class="review__author-about">Владелец</p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-slider__slide">
        <div class="review">
          <div class="review__top">
            <div class="review__info">
              <p class="review__title">SKYNET CYBER ZONE</p>
              <p class="review__text">Вот и я получил копьютер. Огромное спасибо DigitalRazor за отличную работу. Отдельное спасибо Дмитрию Изотову и Дмитрию Ткач за помощь в реализации моих хотелок. Все четко, сообщения о всех этапах работы. Сделано
                все качественно, я очень доволен. Рекомендую!</p>
            </div>
            <div class="review__image"><img src="images/content/block_12/img_2.jpg" alt=""></div>
          </div>
          <div class="review__author">
            <div class="review__author-avatar"><img src="images/content/block_12/img_4.jpg" alt=""></div>
            <div class="review__author-info">
              <p class="review__author-name">АНДРЕЙ КРАСОВ</p>
              <p class="review__author-about">Владелец</p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-slider__slide">
        <div class="review">
          <div class="review__top">
            <div class="review__info">
              <p class="review__title">SKYNET CYBER ZONE</p>
              <p class="review__text">Вот и я получил копьютер. Огромное спасибо DigitalRazor за отличную работу. Отдельное спасибо Дмитрию Изотову и Дмитрию Ткач за помощь в реализации моих хотелок. Все четко, сообщения о всех этапах работы. Сделано
                все качественно, я очень доволен. Рекомендую!</p>
            </div>
            <div class="review__image"><img src="images/content/block_12/img_1.jpg" alt=""></div>
          </div>
          <div class="review__author">
            <div class="review__author-avatar"><img src="images/content/block_12/img_3.jpg" alt=""></div>
            <div class="review__author-info">
              <p class="review__author-name">АНДРЕЙ КРАСОВ</p>
              <p class="review__author-about">Владелец</p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-slider__slide">
        <div class="review">
          <div class="review__top">
            <div class="review__info">
              <p class="review__title">SKYNET CYBER ZONE</p>
              <p class="review__text">Вот и я получил копьютер. Огромное спасибо DigitalRazor за отличную работу. Отдельное спасибо Дмитрию Изотову и Дмитрию Ткач за помощь в реализации моих хотелок. Все четко, сообщения о всех этапах работы. Сделано
                все качественно, я очень доволен. Рекомендую!</p>
            </div>
          </div>
          <div class="review__author">
            <div class="review__author-avatar"><img src="images/content/block_12/img_4.jpg" alt=""></div>
            <div class="review__author-info">
              <p class="review__author-name">АНДРЕЙ КРАСОВ</p>
              <p class="review__author-about">Владелец</p>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-slider__slide">
        <div class="review">
          <div class="review__top">
            <div class="review__info">
              <p class="review__title">SKYNET CYBER ZONE</p>
              <p class="review__text">Вот и я получил копьютер. Огромное спасибо DigitalRazor за отличную работу. Отдельное спасибо Дмитрию Изотову и Дмитрию Ткач за помощь в реализации моих хотелок. Все четко, сообщения о всех этапах работы. Сделано
                все качественно, я очень доволен. Рекомендую!</p>
            </div>
            <div class="review__image"><img src="images/content/block_12/img_2.jpg" alt=""></div>
          </div>
          <div class="review__author">
            <div class="review__author-avatar"><img src="images/content/block_12/img_3.jpg" alt=""></div>
            <div class="review__author-info">
              <p class="review__author-name">АНДРЕЙ КРАСОВ</p>
              <p class="review__author-about">Владелец</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>