<div class="block-14">
  <div class="container">
    <h2 class="title"><span>Галерея тех,</span> кто&nbsp;уже&nbsp;с&nbsp;нами</h2>
    <div class="cols cols--4">
      <div class="cols__item">
        <a class="gallery-item" href="images/content/block_14/img_1.jpg" data-fancybox="images"><img src="images/content/block_14/img_1.jpg" alt=""></a>
      </div>
      <div class="cols__item">
        <a class="gallery-item" href="images/content/block_14/img_2.jpg" data-fancybox="images"><img src="images/content/block_14/img_2.jpg" alt=""></a>
      </div>
      <div class="cols__item">
        <a class="gallery-item" href="images/content/block_14/img_3.jpg" data-fancybox="images"><img src="images/content/block_14/img_3.jpg" alt=""></a>
      </div>
      <div class="cols__item">
        <a class="gallery-item" href="images/content/block_14/img_4.jpg" data-fancybox="images"><img src="images/content/block_14/img_4.jpg" alt=""></a>
      </div>
      <div class="cols__item">
        <a class="gallery-item" href="images/content/block_14/img_5.jpg" data-fancybox="images"><img src="images/content/block_14/img_5.jpg" alt=""></a>
      </div>
      <div class="cols__item">
        <a class="gallery-item" href="images/content/block_14/img_6.jpg" data-fancybox="images"><img src="images/content/block_14/img_6.jpg" alt=""></a>
      </div>
      <div class="cols__item">
        <a class="gallery-item" href="images/content/block_14/img_7.jpg" data-fancybox="images"><img src="images/content/block_14/img_7.jpg" alt=""></a>
      </div>
      <div class="cols__item">
        <a class="gallery-item" href="images/content/block_14/img_8.jpg" data-fancybox="images"><img src="images/content/block_14/img_8.jpg" alt=""></a>
      </div>
    </div>
  </div>
</div>