<div class="block-11">
  <div class="container">
    <h2 class="title"><span>Игровые компьютеры - это&nbsp;инструмент,</span><br> который должен приносить пользу</h2>
    <p class="block-11__text accented-text">Мы понимаем, что игровые клубы работают 24/7. Поэтому надежность оборудования играет важную роль. Мы предлагаем воспользоваться премиальным обслуживанием компании.</p>
    <div class="cols cols--4">
      <div class="cols__item">
        <div class="feature4">
          <span class="feature4__image"><img src="images/content/block_11/img_1.png" alt=""></span>
          <p class="feature4__title">бесплатная доставка</p>
          <p class="feature4__text">Бесплатная и надежная доставка<br> со страхованием по России</p>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature4">
          <span class="feature4__image"><img src="images/content/block_11/img_2.png" alt=""></span>
          <p class="feature4__title">гарантия 3 года</p>
          <p class="feature4__text">Гарантия на игровые компьютеры<br> составляет от 12 до 36 месяцев</p>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature4">
          <span class="feature4__image"><img src="images/content/block_11/img_3.png" alt=""></span>
          <p class="feature4__title">стресс-тестирование</p>
          <p class="feature4__text">Все компьютеры проходят<br> комплексное стресс-тестирование</p>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature4">
          <span class="feature4__image"><img src="images/content/block_11/img_4.png" alt=""></span>
          <p class="feature4__title">поддержка и сервис</p>
          <p class="feature4__text">В Москве и Санкт-Петербурге, для<br> регионов бесплатный трансфер</p>
        </div>
      </div>
    </div>
  </div>
</div>