<div class="block-10">
  <div class="container">
    <h2 class="title"><span>Выбирай то, что нужно</span> и&nbsp;экономь</h2>
    <p class="block-10__text accented-text">Новый клуб - это непростая задача: поиск помещения, ремонт, найм сотрудников, реклама и т.д. Поэтому лизинг - одно из решений, что снизить единовременную нагрузку и вложиться в правильное оборудование.</p>
    <div class="cols cols--3">
      <div class="cols__item">
        <div class="feature3">
          <div class="feature3__icon"><img src="images/content/block_10/img_1.png" alt=""></div>
          <div class="feature3__info">
            <p class="feature3__title">вероятность одобрения<br> заявки более 80%</p>
            <p class="feature3__text">Лояльные требования и индивидуальный<br> подход к рассмотрению каждой заявки</p>
          </div>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature3">
          <div class="feature3__icon"><img src="images/content/block_10/img_2.png" alt=""></div>
          <div class="feature3__info">
            <p class="feature3__title">не обременяет баланс<br> компании</p>
            <p class="feature3__text">Сумма договора лизинга не увеличивает<br> кредиторскую задолженность в балансе<br> Вашей компании</p>
          </div>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature3">
          <div class="feature3__icon"><img src="images/content/block_10/img_3.png" alt=""></div>
          <div class="feature3__info">
            <p class="feature3__title">новое оборудование</p>
            <p class="feature3__text">Никакого б/у − Arenza делает новое и лучшее оборудование доступным для бизнеса</p>
          </div>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature3">
          <div class="feature3__icon"><img src="images/content/block_10/img_4.png" alt=""></div>
          <div class="feature3__info">
            <p class="feature3__title">экономия на налогах</p>
            <p class="feature3__text">Arenza помогает экономить денежные средства за счет налоговых преференций (снижение налогооблагаемой базы по налогу на прибыль и налогу на имущество, возврат НДС)</p>
          </div>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature3">
          <div class="feature3__icon"><img src="images/content/block_10/img_5.png" alt=""></div>
          <div class="feature3__info">
            <p class="feature3__title">удобный график выплат</p>
            <p class="feature3__text">Доступные ежемесячные платежи помогают<br> планировать бюджет вашего бизнеса</p>
          </div>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature3">
          <div class="feature3__icon"><img src="images/content/block_10/img_6.png" alt=""></div>
          <div class="feature3__info">
            <p class="feature3__title">оформление онлайн</p>
            <p class="feature3__text">Услуги Arenza доступны в любом городе безличного присутствия, достаточно вашейэлектронной подписи</p>
          </div>
        </div>
      </div>
    </div>
    <p class="block-10__button-block">
      <button class="button button--arrow" type="button" data-fancybox="request" data-src="#request"><span class="button__text">оставить заявку</span></button>
    </p>
  </div>
</div>