<div class="block-2">
  <div class="block-2__banner block-2__banner--1" style="background-image: url('images/content/block_2/bg_mobile.jpg')" data-target="1">
    <style>
      @media(min-width: 768px) {
        .block-2__banner--1 {
          background-image: url('images/content/block_2/bg.jpg') !important
        }
      }
    </style>
    <div class="block-2__banner-inner container">
      <h2 class="block-2__banner-title title"><span>Другой</span> заголовок для баннера</h2>
      <div class="block-2__banner-image"><img src="images/content/main_banner/img_1.png" alt=""></div>
      <p class="block-2__banner-text">Небольшой рыбный текст для теста</p>
      <a class="button button--arrow" href="#"><span class="button__text">СОБЕРИ СОВЙ ПК</span></a>
    </div>
  </div>
  <div class="block-2__banner block-2__banner--2 is-active" style="background-image: url('images/content/block_2/bg_mobile.jpg')" data-target="2">
    <style>
      @media(min-width: 768px) {
        .block-2__banner--2 {
          background-image: url('images/content/block_2/bg.jpg') !important
        }
      }
    </style>
    <div class="block-2__banner-inner container">
      <h2 class="block-2__banner-title title"><span>DigitalRazor</span> ROG&nbsp;Edition Выбирая&nbsp;лучшее. Выбирай&nbsp;ASUS</h2>
      <div class="block-2__banner-image"><img src="images/content/block_2/img_1.png" alt=""></div>
      <p class="block-2__banner-text">Это высокая мощность, инновационные технологии, безупречный уровень надежности и стильный дизайн, подчеркивающий индивидуальность каждого геймера.</p>
      <a class="button button--arrow" href="#"><span class="button__text">СОБЕРИ СОВЙ ПК</span></a>
    </div>
  </div>
  <div class="block-2__banner block-2__banner--3" style="background-image: url('images/content/block_2/bg_mobile.jpg')" data-target="3">
    <style>
      @media(min-width: 768px) {
        .block-2__banner--3 {
          background-image: url('images/content/block_2/bg.jpg') !important
        }
      }
    </style>
    <div class="block-2__banner-inner container">
      <h2 class="block-2__banner-title title"><span>DigitalRazor</span> ROG&nbsp;Edition Выбирая&nbsp;лучшее. Выбирай&nbsp;ASUS</h2>
      <div class="block-2__banner-image"><img src="images/content/block_2/img_1.png" alt=""></div>
      <p class="block-2__banner-text">Это высокая мощность, инновационные технологии, безупречный уровень надежности и стильный дизайн, подчеркивающий индивидуальность каждого геймера.</p>
      <a class="button button--arrow" href="#"><span class="button__text">СОБЕРИ СОВЙ ПК</span></a>
    </div>
  </div>
  <div class="block-2__banner block-2__banner--4" style="background-image: url('images/content/block_2/bg_mobile.jpg')" data-target="4">
    <style>
      @media(min-width: 768px) {
        .block-2__banner--4 {
          background-image: url('images/content/block_2/bg.jpg') !important
        }
      }
    </style>
    <div class="block-2__banner-inner container">
      <h2 class="block-2__banner-title title"><span>DigitalRazor</span> ROG&nbsp;Edition Выбирая&nbsp;лучшее. Выбирай&nbsp;ASUS</h2>
      <div class="block-2__banner-image"><img src="images/content/block_2/img_1.png" alt=""></div>
      <p class="block-2__banner-text">Это высокая мощность, инновационные технологии, безупречный уровень надежности и стильный дизайн, подчеркивающий индивидуальность каждого геймера.</p>
      <a class="button button--arrow" href="#"><span class="button__text">СОБЕРИ СОВЙ ПК</span></a>
    </div>
  </div>
  <div class="block-2__banner block-2__banner--5" style="background-image: url('images/content/block_2/bg_mobile.jpg')" data-target="5">
    <style>
      @media(min-width: 768px) {
        .block-2__banner--5 {
          background-image: url('images/content/block_2/bg.jpg') !important
        }
      }
    </style>
    <div class="block-2__banner-inner container">
      <h2 class="block-2__banner-title title"><span>DigitalRazor</span> ROG&nbsp;Edition Выбирая&nbsp;лучшее. Выбирай&nbsp;ASUS</h2>
      <div class="block-2__banner-image"><img src="images/content/block_2/img_1.png" alt=""></div>
      <p class="block-2__banner-text">Это высокая мощность, инновационные технологии, безупречный уровень надежности и стильный дизайн, подчеркивающий индивидуальность каждого геймера.</p>
      <a class="button button--arrow" href="#"><span class="button__text">СОБЕРИ СОВЙ ПК</span></a>
    </div>
  </div>
  <div class="block-2__nav b2-nav">
    <div class="b2-nav__item"><button class="js-b2-nav b2-nav__button" type="button" data-target="1"><img src="images/content/block_2/img_2.png" alt="Cooler Master"></button></div>
    <div class="b2-nav__item"><button class="js-b2-nav b2-nav__button is-active" type="button" data-target="2"><img src="images/content/block_2/img_3.png" alt="Republic of Gamers"></button></div>
    <div class="b2-nav__item"><button class="js-b2-nav b2-nav__button" type="button" data-target="3"><img src="images/content/block_2/img_4.png" alt="AORUS"></button></div>
    <div class="b2-nav__item"><button class="js-b2-nav b2-nav__button" type="button" data-target="4"><img src="images/content/block_2/img_5.png" alt="MSI"></button></div>
    <div class="b2-nav__item"><button class="js-b2-nav b2-nav__button" type="button" data-target="5"><img src="images/content/block_2/img_6.png" alt="ASUS"></button></div>
  </div>
</div>
