<div class="block-4">
  <div class="block-4__inner container">
    <h2 class="title"><span>Собственное</span> производство</h2>
  </div>
  <div class="tiles">
    <div class="tiles__container">
      <div class="tiles__cell tiles__cell--type_1">
        <div class="tiles__block tiles__block--type_1" style="background-image: url('images/content/block_4/img_1.jpg')">
          <p>Представляем вашему вниманию «кухню» DigitalRazor. Именно здесь наши квалифицированные специалисты собирают Ваш компьютер</p>
        </div>
      </div>
      <div class="tiles__cell tiles__cell--type_2">
        <div class="tiles__sub-container">
          <div class="tiles__cell tiles__cell--type_3">
            <div class="tiles__block tiles__block--type_2" style="background-image: url('images/content/block_4/img_2.jpg')">
              <p>Сборка эксклюзивных систем</p>
            </div>
          </div>
          <div class="tiles__cell tiles__cell--type_3">
            <div class="tiles__block tiles__block--type_2" style="background-image: url('images/content/block_4/img_3.jpg')">
              <p>Установка ПО, настройка и&nbsp;тестирование</p>
            </div>
          </div>
          <div class="tiles__cell tiles__cell--type_4">
            <div class="tiles__block tiles__block--type_3 guarantee-block">
              <img width="41" src="images/icons/shield_white.svg" alt="">
              <p class="guarantee-block__title">ГАРАНТИЯ 3 ГОДА</p>
              <p>Гарантия на игровые компьютеры составляет от&nbsp;12&nbsp;до&nbsp;36&nbsp;месяцев.</p>
            </div>
          </div>
          <div class="tiles__cell tiles__cell--type_4">
            <div class="tiles__block tiles__block--type_2" style="background-image: url('images/content/block_4/img_4.jpg')">
              <p>Упаковка</p>
            </div>
          </div>
          <div class="tiles__cell tiles__cell--type_5">
            <div class="tiles__block tiles__block--type_2" style="background-image: url('images/content/block_4/img_5.jpg')">
              <p>Профессиональная винилография</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>