<div class="block-8">
  <div class="container">
    <h2 class="title"><span>Удиви геймера качеством</span> изображения и геймплея, пусть Вас запомнят</h2>
    <p class="block-8__text accented-text">Конфигурации игровых систем мы подбираем в соотвествии частоты обновления монитора, FPS и набора игр. Это важный параметр для геймера, так как она на прямую влияет на качество геймплея и картинку, которую
      запомнят.</p>
    <a class="video-block" href="https://www.youtube.com/watch?v=D87Z0-KvH6A&t=6s" data-fancybox>
      <img src="images/content/block_8/img_1.jpg" alt="Видео">
      <span class="video-block__play">
        <svg class="video-block__play-icon" aria-hidden="true">
          <use xlink:href="#play" />
        </svg>
      </span>
    </a>
  </div>
</div>