<div class="block-6">
  <div class="block-6__inner container">
    <div class="block-6__inner-block">
      <h2 class="title"><span>Почему</span> DigitalRazor</h2>
      <p class="block-6__text">Мы создаем системы с учетом высоких требований геймеров и энтузиастов, стараемся делать уникальные вещи, которые позволяют покупателю наслаждаться игровым процессом в полном объеме.</p>
      <a class="button button--arrow" href="#"><span class="button__text">Подробнее</span></a>
    </div>
    <div class="block-6__inner-block">
      <div class="features">
        <div class="feature">
          <div class="feature__image">
            <img src="images/icons/shield.svg" alt="">
          </div>
          <div>
            <p class="feature__title">ГАРАНТИЯ 3 ГОДА</p>
            <p>Гарантия на игровые компьютеры составляет от&nbsp;12&nbsp;до&nbsp;36&nbsp;месяцев.</p>
          </div>
        </div>
        <div class="feature">
          <div class="feature__image">
            <img src="images/icons/headphones.svg" alt="">
          </div>
          <div>
            <p class="feature__title">СЕРВИСНЫЕ ЦЕНТРЫ</p>
            <p>Поддержка в Москве и Санкт-Петербурге, для регионов бесплатный трансфер*</p>
          </div>
        </div>
        <div class="feature">
          <div class="feature__image">
            <img src="images/icons/car.svg" alt="">
          </div>
          <div>
            <p class="feature__title">БЕСПЛАТНАЯ ДОСТАВКА</p>
            <p>Бесплатная и надежная доставка со страхованием по&nbsp;России.</p>
          </div>
        </div>
        <div class="feature">
          <div class="feature__image">
            <img src="images/icons/doc.svg" alt="">
          </div>
          <div>
            <p class="feature__title">СТРЕСС - ТЕСТИРОВАНИЕ</p>
            <p>Все компьютеры проходят комплексное стресс- тестирование.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>