<div class="block-9">
  <div class="container">
    <h2 class="title"><span>Запоминайся</span> и побеждай</h2>
    <p class="block-9__text accented-text">Игровые клубы переживают эпоху ренессанса. Направление популярное и развивается.Именно по этой причине, мы предлагаем нашим клиентам выделиться и запомниться геймерам на фоне своих конкурентов через
      фирменный стиль.</p>
    <div class="cols cols--4">
      <div class="cols__item">
        <div class="feature2">
          <img src="images/content/block_9/img_1.jpg" alt="нанесение логотипа">
          <span class="feature2__title">НАНЕСЕНИЕ ЛОГОТИПА</span>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature2">
          <img src="images/content/block_9/img_2.jpg" alt="нанесение логотипа">
          <span class="feature2__title">НАНЕСЕНИЕ ИЗОБРАЖЕНИЯ</span>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature2">
          <img src="images/content/block_9/img_3.jpg" alt="нанесение логотипа">
          <span class="feature2__title">ПОКРАСКА</span>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature2">
          <img src="images/content/block_9/img_4.jpg" alt="нанесение логотипа">
          <span class="feature2__title">РАЗРАБОТКА УНИКАЛЬНОГО ДИЗАЙНА</span>
        </div>
      </div>
    </div>
  </div>
</div>