<div class="block-5">
  <div class="block-5__inner container">
    <div class="block-5__inner-block">
      <h2 class="title"><span>Акции</span><br> и спецпредложения</h2>
      <a class="button button--arrow" href="#"><span class="button__text">Смотреть всё</span></a>
    </div>
    <div class="block-5__inner-block">
      <div class="js-actions-slider actions-slider">
        <div class="actions-slider__slide">
          <div class="action-slide">
            <div class="action-slide__image"><img src="images/content/block_5/img_1.png" alt=""></div>
            <div class="action-slide__info">
              <p class="action-slide__date">01 сентября 19 - 30 октября 19</p>
              <p class="action-slide__title">Game pass в подарок</p>
              <p class="action-slide__text">Купи игровой компьютер DigitalRazor Powered by ASUS с собственным дизайном...</p>
              <a class="action-slide__link" href="#">
                <span>подробнее о акции</span>
                <svg class="action-slide__link-icon" aria-hidden="true">
                  <use xlink:href="#arrow_right" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="actions-slider__slide">
          <div class="action-slide">
            <div class="action-slide__image"><img src="images/content/block_5/img_1.png" alt=""></div>
            <div class="action-slide__info">
              <p class="action-slide__date">01 сентября 19 - 30 октября 19</p>
              <p class="action-slide__title">Game pass в подарок</p>
              <p class="action-slide__text">Купи игровой компьютер DigitalRazor Powered by ASUS с собственным дизайном...</p>
              <a class="action-slide__link" href="#">
                <span>подробнее о акции</span>
                <svg class="action-slide__link-icon" aria-hidden="true">
                  <use xlink:href="#arrow_right" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="actions-slider__slide">
          <div class="action-slide">
            <div class="action-slide__image"><img src="images/content/block_5/img_1.png" alt=""></div>
            <div class="action-slide__info">
              <p class="action-slide__date">01 сентября 19 - 30 октября 19</p>
              <p class="action-slide__title">Game pass в подарок</p>
              <p class="action-slide__text">Купи игровой компьютер DigitalRazor Powered by ASUS с собственным дизайном...</p>
              <a class="action-slide__link" href="#">
                <span>подробнее о акции</span>
                <svg class="action-slide__link-icon" aria-hidden="true">
                  <use xlink:href="#arrow_right" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="actions-slider__slide">
          <div class="action-slide">
            <div class="action-slide__image"><img src="images/content/block_5/img_1.png" alt=""></div>
            <div class="action-slide__info">
              <p class="action-slide__date">01 сентября 19 - 30 октября 19</p>
              <p class="action-slide__title">Game pass в подарок</p>
              <p class="action-slide__text">Купи игровой компьютер DigitalRazor Powered by ASUS с собственным дизайном...</p>
              <a class="action-slide__link" href="#">
                <span>подробнее о акции</span>
                <svg class="action-slide__link-icon" aria-hidden="true">
                  <use xlink:href="#arrow_right" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>