<div class="block-3">
  <div class="block-3__inner container">
    <h2 class="block-3__title title"><span>Aorus Edition</span> Игровой компьютер для&nbsp;игр&nbsp;и&nbsp;работы</h2>
    <div class="block-3__image"><img src="images/content/block_3/img_1.png" alt=""></div>
    <p class="block-3__text">Это высокая мощность, инновационные технологии, безупречный уровень надежности и стильный дизайн, подчеркивающий индивидуальность каждого геймера.</p>
    <a class="button button--arrow" href="#"><span class="button__text">Подробнее</span></a>
  </div>
</div>
