<div class="block-13">
  <div class="container">
    <h2 class="title"><span>Закрой вопросы</span> одним&nbsp;ударом</h2>
    <p class="block-13__text accented-text">Игровые компьютеры решают основную задачу. Но для нового клуба она не единственная. За последние 10 лет работы мы накопили опыт в различного рода работах и вот с чем мы можем помочь:</p>
    <div class="cols cols--4">
      <div class="cols__item">
        <div class="feature5">
          <p class="feature5__image">
            <img src="images/content/block_13/img_1.jpg" alt="">
            <span class="feature5__title">Монтаж скс</span>
          </p>
          <p class="feature5__text">Поможем провести локальную сеть и подключить видеонаблюдение.</p>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature5">
          <p class="feature5__image">
            <img src="images/content/block_13/img_2.jpg" alt="">
            <span class="feature5__title">программное обеспечение</span>
          </p>
          <p class="feature5__text">Специальные предложения от партнеров на ПО для игровых клубов.</p>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature5">
          <p class="feature5__image">
            <img src="images/content/block_13/img_3.jpg" alt="">
            <span class="feature5__title">периферия</span>
          </p>
          <p class="feature5__text">Рекомендуем или предложим готовые комплекты игровой периферии и мониторов.</p>
        </div>
      </div>
      <div class="cols__item">
        <div class="feature5">
          <p class="feature5__image">
            <img src="images/content/block_13/img_4.jpg" alt="">
            <span class="feature5__title">Мониторинг оборудования</span>
          </p>
          <p class="feature5__text">Внедрим систему мониторинга, что поможет держать состояние оборудование под контролем.</p>
        </div>
      </div>
    </div>
  </div>
</div>