<div class="block-7">
  <div class="container">
    <h1 class="title"><span>Типовые решения</span> для компьютерного клуба</h1>
    <p class="block-7__text accented-text">Мы оснастили более 10 игровых клубов и проконсультировали более сотни клиентов. Проанализировав их потребности, предлагаем несколько оптимальных конфигураций:</p>
    <div class="big-cards">
      <div class="big-cards__item">
        <div class="big-card">
          <div class="big-card__box">
            <div class="big-card__info">
              <div class="big-card__info-block">
                <div class="big-card__image-block">
                  <img src="images/content/block_7/img_1.png" alt="">
                  <span class="big-card__fps-block">
                    <span class="big-card__fps-value">120+</span>
                    <span class="big-card__fps-unit">FPS</span>
                  </span>
                </div>
                <p class="big-card__title">enthoo evolv shift x</p>
                <p class="big-card__text">Решает задачи плавной картинки и качественно геймплея без разрывов изображения за счет высокого FPS (120+) в современных играх тип AAA</p>
                <button class="button button--arrow" type="button"><span class="button__text">запросить цену</span></button>
              </div>
              <div class="big-card__info-block">
                <p class="big-card__resolution-title">Выберите разрешение:</p>
                <div class="big-card__resolution-block">
                  <button class="big-card__resolution is-active" type="button">1080 P</button>
                  <button class="big-card__resolution" type="button">1440 P</button>
                </div>
                <p class="big-card__config-title">Конфигуратор:</p>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#cpu" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Процессор:</p>
                    <p class="config-option__text">8-ядерный AMD Ryzen 7 3700X 3.60 GHz</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#ram" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Оперативная память:</p>
                    <p class="config-option__text">16GB (2x8Gb) DDR4 3000Mhz</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#fan" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Видеокарта:</p>
                    <p class="config-option__text">AMD Radeon 5700 XT 8G</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#ssd" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Накопитель SSD M.2:</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#ssd" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Накопитель SSD SATA:</p>
                    <p class="config-option__text">SSD 480GB</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#hdd" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Накопители HDD:</p>
                    <p class="config-option__text">Жесткий диск 2TB</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#warranty" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Гарантия:</p>
                    <p class="config-option__text">Гарантия 36 месяцев</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="big-card__box">
            <div class="games-list">
              <button class="games-list__button is-active" type="button"><img src="images/content/block_7/img_3.png" alt="PUBG"></button>
              <button class="games-list__button" type="button"><img src="images/content/block_7/img_4.png" alt="CS:GO"></button>
              <button class="games-list__button" type="button"><img src="images/content/block_7/img_5.png" alt="DOTA2"></button>
              <button class="games-list__button" type="button"><img src="images/content/block_7/img_6.png" alt="JEDI"></button>
              <button class="games-list__button" type="button"><img src="images/content/block_7/img_7.png" alt="FORTNITE"></button>
            </div>
            <div class="graphs">
              <div class="graphs__hz">
                <div class="graphs__hz-item">60 Гц</div>
                <div class="graphs__hz-item">144 Гц</div>
                <div class="graphs__hz-item">240 Гц</div>
              </div>
              <div class="graph">
                <div class="graph__value" style="width: 80%">160 FPS</div>
              </div>
              <p class="graphs__title">Разрешение 1080p</p>
              <div class="graph">
                <div class="graph__value" style="width: 60%">130 FPS</div>
              </div>
              <p class="graphs__title">Разрешение 1440p</p>
              <div class="graph">
                <div class="graph__value" style="width: 30%">50 FPS</div>
              </div>
              <p class="graphs__title">Разрешение 2160p</p>
            </div>
          </div>
        </div>
      </div>
      <div class="big-cards__item">
        <div class="big-card">
          <div class="big-card__box">
            <div class="big-card__info">
              <div class="big-card__info-block">
                <div class="big-card__image-block">
                  <img src="images/content/block_7/img_2.png" alt="">
                  <span class="big-card__fps-block">
                    <span class="big-card__fps-value">120+</span>
                    <span class="big-card__fps-unit">FPS</span>
                  </span>
                </div>
                <p class="big-card__title">ProGaming</p>
                <p class="big-card__text">Решает задачи плавной картинки и качественно геймплея без разрывов изображения за счет высокого FPS (120+) в современных играх тип AAA</p>
                <button class="button button--arrow" type="button"><span class="button__text">запросить цену</span></button>
              </div>
              <div class="big-card__info-block">
                <p class="big-card__resolution-title">Выберите разрешение:</p>
                <div class="big-card__resolution-block">
                  <button class="big-card__resolution is-active" type="button">1080 P</button>
                  <button class="big-card__resolution" type="button">1440 P</button>
                </div>
                <p class="big-card__config-title">Конфигуратор:</p>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#cpu" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Процессор:</p>
                    <p class="config-option__text">6-ядерный Intel Core i5-9400F 2.90 GHz</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#ram" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Оперативная память:</p>
                    <p class="config-option__text">16GB (2x8Gb) DDR4 2666Mhz</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#fan" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Видеокарта:</p>
                    <p class="config-option__text">NVIDIA GeForce GTX 1660 Ti 6G</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#ssd" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Накопитель SSD M.2:</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#ssd" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Накопитель SSD SATA:</p>
                    <p class="config-option__text">SSD M.2 240GB</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#hdd" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Накопители HDD:</p>
                    <p class="config-option__text">Жесткий диск 2TB</p>
                  </div>
                </div>
                <div class="big-card__config-option config-option">
                  <div class="config-option__icon-block">
                    <svg class="config-option__icon" aria-hidden="true">
                      <use xlink:href="#warranty" />
                    </svg>
                  </div>
                  <div class="config-option__info">
                    <p class="config-option__title">Гарантия:</p>
                    <p class="config-option__text">Гарантия 36 месяцев</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="big-card__box">
            <div class="games-list">
              <button class="games-list__button" type="button"><img src="images/content/block_7/img_3.png" alt="PUBG"></button>
              <button class="games-list__button" type="button"><img src="images/content/block_7/img_4.png" alt="CS:GO"></button>
              <button class="games-list__button is-active" type="button"><img src="images/content/block_7/img_5.png" alt="DOTA2"></button>
              <button class="games-list__button" type="button"><img src="images/content/block_7/img_6.png" alt="JEDI"></button>
              <button class="games-list__button" type="button"><img src="images/content/block_7/img_7.png" alt="FORTNITE"></button>
            </div>
            <div class="graphs">
              <div class="graphs__hz">
                <div class="graphs__hz-item">60 Гц</div>
                <div class="graphs__hz-item">144 Гц</div>
                <div class="graphs__hz-item">240 Гц</div>
              </div>
              <div class="graph">
                <div class="graph__value" style="width: 80%">160 FPS</div>
              </div>
              <p class="graphs__title">Разрешение 1080p</p>
              <div class="graph">
                <div class="graph__value" style="width: 60%">130 FPS</div>
              </div>
              <p class="graphs__title">Разрешение 1440p</p>
              <div class="graph">
                <div class="graph__value" style="width: 30%">50 FPS</div>
              </div>
              <p class="graphs__title">Разрешение 2160p</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-7__buttons-block">
      <button class="button" type="button">Стандарт</button>
      <button class="button button--transparent" type="button">Vip</button>
    </div>
  </div>
</div>