<div class="block-1">
  <div class="container">
    <h2 class="title"><span>Выбери</span> игровую&nbsp;серию:</h2>
    <div class="cards">
      <div class="cards__item">
        <a class="card" href="#">
          <span class="card__top-block">
            <span class="card__image"><img src="images/content/block_1/img_1.png" alt="PROGAMING"></span>
            <span class="card__about">
              <span class="card__title">PROGAMING</span>
              <span class="card__preview">Игровые компьютеры данной серии прекрасно подойдут для игр в FullHD</span>
            </span>
          </span>
          <span class="card__info">
            <span class="card__power-row">
              <span class="card__units">
                <span class="card__units-item">HD</span>
                <span class="card__units-item">FullHD</span>
                <span class="card__units-item">2K</span>
                <span class="card__units-item">4K</span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Игры:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Стриминг и запись:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Обработка видео:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row card__power-row--separator">
              <span class="card__units">
                <span class="card__units-item">Min</span>
                <span class="card__units-item">Max</span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Upgrade:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Кастомизация:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
          </span>
          <span class="card__price">от <span>45 000</span> ₽</span>
        </a>
      </div>
      <div class="cards__item">
        <a class="card" href="#">
          <span class="card__top-block">
            <span class="card__image"><img src="images/content/block_1/img_2.png" alt="PERFOMANCE"></span>
            <span class="card__about">
              <span class="card__title">PERFOMANCE</span>
              <span class="card__preview">Игровые компьютеры данной серии прекрасно подойдут для игр в FullHD</span>
            </span>
          </span>
          <span class="card__info">
            <span class="card__power-row">
              <span class="card__units">
                <span class="card__units-item">HD</span>
                <span class="card__units-item">FullHD</span>
                <span class="card__units-item">2K</span>
                <span class="card__units-item">4K</span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Игры:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Стриминг и запись:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Обработка видео:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row card__power-row--separator">
              <span class="card__units">
                <span class="card__units-item">Min</span>
                <span class="card__units-item">Max</span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Upgrade:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Кастомизация:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
          </span>
          <span class="card__price">от <span>45 000</span> ₽</span>
        </a>
      </div>
      <div class="cards__item">
        <a class="card" href="#">
          <span class="card__top-block">
            <span class="card__image"><img src="images/content/block_1/img_3.png" alt="EVOLUTION"></span>
            <span class="card__about">
              <span class="card__title">EVOLUTION</span>
              <span class="card__preview">Игровые компьютеры данной серии прекрасно подойдут для игр в FullHD</span>
            </span>
          </span>
          <span class="card__info">
            <span class="card__power-row">
              <span class="card__units">
                <span class="card__units-item">HD</span>
                <span class="card__units-item">FullHD</span>
                <span class="card__units-item">2K</span>
                <span class="card__units-item">4K</span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Игры:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Стриминг и запись:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Обработка видео:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row card__power-row--separator">
              <span class="card__units">
                <span class="card__units-item">Min</span>
                <span class="card__units-item">Max</span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Upgrade:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Кастомизация:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
          </span>
          <span class="card__price">от <span>45 000</span> ₽</span>
        </a>
      </div>
      <div class="cards__item">
        <a class="card" href="#">
          <span class="card__top-block">
            <span class="card__image"><img src="images/content/block_1/img_4.png" alt="STINGER AIO"></span>
            <span class="card__about">
              <span class="card__title">STINGER AIO</span>
              <span class="card__preview">Игровые компьютеры данной серии прекрасно подойдут для игр в FullHD</span>
            </span>
          </span>
          <span class="card__info">
            <span class="card__power-row">
              <span class="card__units">
                <span class="card__units-item">HD</span>
                <span class="card__units-item">FullHD</span>
                <span class="card__units-item">2K</span>
                <span class="card__units-item">4K</span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Игры:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Стриминг и запись:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Обработка видео:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row card__power-row--separator">
              <span class="card__units">
                <span class="card__units-item">Min</span>
                <span class="card__units-item">Max</span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Upgrade:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
            <span class="card__power-row">
              <span class="card__power-title">Кастомизация:</span>
              <span class="card__scale">
                <span class="card__scale-item red"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
                <span class="card__scale-item"></span>
              </span>
            </span>
          </span>
          <span class="card__price">от <span>45 000</span> ₽</span>
        </a>
      </div>
    </div>
  </div>
</div>