<div class="design-banner">
  <video id="video-banner" class="design-banner__slide-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="images/content/design-banner/1.webm" type="video/webm">
  </video>
  <div class="js-design-banner design-banner__list">
    <div class="design-banner__slide" data-src="images/content/design-banner/1.webm">
      <div class="design-banner__slide-inner">
        <div class="design-banner__slide-info">
          <p class="design-banner__slide-title">DESIGN<br> <span>id 651261</span></p>
          <a class="button button--arrow" href="#"><span class="button__text">Заказать этот дизайн</span></a>
        </div>
      </div>
    </div>
    <div class="design-banner__slide" data-src="images/content/design-banner/2.webm">
      <div class="design-banner__slide-inner">
        <div class="design-banner__slide-info">
          <p class="design-banner__slide-title">DESIGN<br> <span>id 651261</span></p>
          <a class="button button--arrow" href="#"><span class="button__text">Заказать этот дизайн</span></a>
        </div>
      </div>
    </div>
    <div class="design-banner__slide" data-src="images/content/design-banner/3.webm">
      <div class="design-banner__slide-inner">
        <div class="design-banner__slide-info">
          <p class="design-banner__slide-title">DESIGN<br> <span>id 651261</span></p>
          <a class="button button--arrow" href="#"><span class="button__text">Заказать этот дизайн</span></a>
        </div>
      </div>
    </div>
    <div class="design-banner__slide" data-src="images/content/design-banner/1.webm">
      <div class="design-banner__slide-inner">
        <div class="design-banner__slide-info">
          <p class="design-banner__slide-title">DESIGN<br> <span>id 651261</span></p>
          <a class="button button--arrow" href="#"><span class="button__text">Заказать этот дизайн</span></a>
        </div>
      </div>
    </div>
    <div class="design-banner__slide" data-src="images/content/design-banner/2.webm">
      <div class="design-banner__slide-inner">
        <div class="design-banner__slide-info">
          <p class="design-banner__slide-title">DESIGN<br> <span>id 651261</span></p>
          <a class="button button--arrow" href="#"><span class="button__text">Заказать этот дизайн</span></a>
        </div>
      </div>
    </div>
    <div class="design-banner__slide" data-src="images/content/design-banner/3.webm">
      <div class="design-banner__slide-inner">
        <div class="design-banner__slide-info">
          <p class="design-banner__slide-title">DESIGN<br> <span>id 651261</span></p>
          <a class="button button--arrow" href="#"><span class="button__text">Заказать этот дизайн</span></a>
        </div>
      </div>
    </div>
    <div class="design-banner__slide" data-src="images/content/design-banner/1.webm">
      <div class="design-banner__slide-inner">
        <div class="design-banner__slide-info">
          <p class="design-banner__slide-title">DESIGN<br> <span>id 651261</span></p>
          <a class="button button--arrow" href="#"><span class="button__text">Заказать этот дизайн</span></a>
        </div>
      </div>
    </div>
    <div class="design-banner__slide" data-src="images/content/design-banner/2.webm">
      <div class="design-banner__slide-inner">
        <div class="design-banner__slide-info">
          <p class="design-banner__slide-title">DESIGN<br> <span>id 651261</span></p>
          <a class="button button--arrow" href="#"><span class="button__text">Заказать этот дизайн</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="js-design-banner-2 design-banner-nav">
    <div class="design-banner-nav__slide">
      <button class="design-banner-nav__slide-button" data-src="images/content/design-banner/1.webm"><img src="images/content/design-banner/img_1.png" alt=""></button>
    </div>
    <div class="design-banner-nav__slide">
      <button class="design-banner-nav__slide-button" data-src="images/content/design-banner/1.webm"><img src="images/content/design-banner/img_2.png" alt=""></button>
    </div>
    <div class="design-banner-nav__slide">
      <button class="design-banner-nav__slide-button" data-src="images/content/design-banner/1.webm"><img src="images/content/design-banner/img_3.png" alt=""></button>
    </div>
    <div class="design-banner-nav__slide">
      <button class="design-banner-nav__slide-button" data-src="images/content/design-banner/1.webm"><img src="images/content/design-banner/img_1.png" alt=""></button>
    </div>
    <div class="design-banner-nav__slide">
      <button class="design-banner-nav__slide-button" data-src="images/content/design-banner/1.webm"><img src="images/content/design-banner/img_2.png" alt=""></button>
    </div>
    <div class="design-banner-nav__slide">
      <button class="design-banner-nav__slide-button" data-src="images/content/design-banner/1.webm"><img src="images/content/design-banner/img_3.png" alt=""></button>
    </div>
    <div class="design-banner-nav__slide">
      <button class="design-banner-nav__slide-button" data-src="images/content/design-banner/1.webm"><img src="images/content/design-banner/img_1.png" alt=""></button>
    </div>
    <div class="design-banner-nav__slide">
      <button class="design-banner-nav__slide-button" data-src="images/content/design-banner/1.webm"><img src="images/content/design-banner/img_2.png" alt=""></button>
    </div>
  </div>
</div>
