<div class="faq">
  <div class="faq__left">
    <p class="js-faq-toggler faq__title is-active" data-target="1">
      <svg class="faq__title-icon" aria-hidden="true">
        <use xlink:href="#faq_icon_delivery" />
      </svg>
      Вопросы по Доставке
    </p>
    <p class="js-faq-toggler faq__title" data-target="2">
      <svg class="faq__title-icon" aria-hidden="true">
        <use xlink:href="#faq_icon_pay" />
      </svg>
      Вопросы по Оплате
    </p>
    <p class="js-faq-toggler faq__title" data-target="3">
      <svg class="faq__title-icon" aria-hidden="true">
        <use xlink:href="#faq_icon_guarantee" />
      </svg>
      Вопросы по Гарантии
    </p>
    <p class="js-faq-toggler faq__title" data-target="4">
      <svg class="faq__title-icon" aria-hidden="true">
        <use xlink:href="#faq_icon_setup" />
      </svg>
      Вопросы по Сборке
    </p>
  </div>
  <div class="faq__right">
    <div class="faq__section is-active" data-target="1">
      <p class="js-faq-mobile-toggler faq__mobile-title">
        <svg class="faq__mobile-title-icon" aria-hidden="true">
          <use xlink:href="#faq_icon_delivery" />
        </svg>
        Вопросы по Доставке
      </p>
      <div class="faq__questions-block">
        <div class="js-question-toggler question">
          <p class="question__title">В какие города вы осуществляете доставку?</p>
          <div class="question__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dicta maiores sint consequuntur rerum, id obcaecati accusamus provident fugit officiis est, quisquam dolorum. Nostrum veniam fuga, tenetur sit ducimus quaerat.</p>
            <p>Aliquid eligendi nesciunt, vel porro quasi eaque veniam recusandae aspernatur sequi.</p>
          </div>
        </div>
        <div class="js-question-toggler question">
          <p class="question__title">Сколько стоит доставка в Санкт-Петербург?</p>
          <div class="question__body">
            <p>Наша компания осуществляет доставку по всей территории России. Мы работаем только с проверенными логистическими компаниями, отправляемый груз обязательно будет застрахован на полную стоимость и снабжается дополнительной упаковочной тарой, а также датчиками удара.</p>
          </div>
        </div>
        <div class="js-question-toggler question">
          <p class="question__title">В какие города вы осуществляете доставку?</p>
          <div class="question__body">
            <p>Наша компания осуществляет доставку по всей территории России. Мы работаем только с проверенными логистическими компаниями, отправляемый груз обязательно будет застрахован на полную стоимость и снабжается дополнительной упаковочной тарой, а также датчиками удара.</p>
          </div>
        </div>
        <div class="js-question-toggler question">
          <p class="question__title">Сколько стоит доставка в Москву?</p>
          <div class="question__body">
            <p>Наша компания осуществляет доставку по всей территории России. Мы работаем только с проверенными логистическими компаниями, отправляемый груз обязательно будет застрахован на полную стоимость и снабжается дополнительной упаковочной тарой, а также датчиками удара.</p>
          </div>
        </div>
        <div class="js-question-toggler question">
          <p class="question__title">Возможна доставка в другие страны?</p>
          <div class="question__body">
            <p>Наша компания осуществляет доставку по всей территории России. Мы работаем только с проверенными логистическими компаниями, отправляемый груз обязательно будет застрахован на полную стоимость и снабжается дополнительной упаковочной тарой, а также датчиками удара.</p>
          </div>
        </div>
        <div class="js-question-toggler question">
          <p class="question__title">Мой город отсутствует в списке доставки</p>
          <div class="question__body">
            <p>Наша компания осуществляет доставку по всей территории России. Мы работаем только с проверенными логистическими компаниями, отправляемый груз обязательно будет застрахован на полную стоимость и снабжается дополнительной упаковочной тарой, а также датчиками удара.</p>
          </div>
        </div>
        <div class="js-question-toggler question">
          <p class="question__title">Я переживаю за сохранность груза при доставке</p>
          <div class="question__body">
            <p>Наша компания осуществляет доставку по всей территории России. Мы работаем только с проверенными логистическими компаниями, отправляемый груз обязательно будет застрахован на полную стоимость и снабжается дополнительной упаковочной тарой, а также датчиками удара.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq__section" data-target="2">
      <p class="js-faq-mobile-toggler faq__mobile-title">
        <svg class="faq__mobile-title-icon" aria-hidden="true">
          <use xlink:href="#faq_icon_pay" />
        </svg>
        Вопросы по Оплате
      </p>
      <div class="faq__questions-block">
        <div class="js-question-toggler question">
          <p class="question__title">В какие города вы осуществляете доставку?</p>
          <div class="question__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dicta maiores sint consequuntur rerum, id obcaecati accusamus provident fugit officiis est, quisquam dolorum. Nostrum veniam fuga, tenetur sit ducimus quaerat.</p>
            <p>Aliquid eligendi nesciunt, vel porro quasi eaque veniam recusandae aspernatur sequi.</p>
          </div>
        </div>
        <div class="js-question-toggler question">
          <p class="question__title">Сколько стоит доставка в Санкт-Петербург?</p>
          <div class="question__body">
            <p>Наша компания осуществляет доставку по всей территории России. Мы работаем только с проверенными логистическими компаниями, отправляемый груз обязательно будет застрахован на полную стоимость и снабжается дополнительной упаковочной тарой, а также датчиками удара.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq__section" data-target="3">
      <p class="js-faq-mobile-toggler faq__mobile-title">
        <svg class="faq__mobile-title-icon" aria-hidden="true">
          <use xlink:href="#faq_icon_guarantee" />
        </svg>
        Вопросы по Гарантии
      </p>
      <div class="faq__questions-block">
        <div class="js-question-toggler question">
          <p class="question__title">В какие города вы осуществляете доставку?</p>
          <div class="question__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dicta maiores sint consequuntur rerum, id obcaecati accusamus provident fugit officiis est, quisquam dolorum. Nostrum veniam fuga, tenetur sit ducimus quaerat.</p>
            <p>Aliquid eligendi nesciunt, vel porro quasi eaque veniam recusandae aspernatur sequi.</p>
          </div>
        </div>
        <div class="js-question-toggler question">
          <p class="question__title">Сколько стоит доставка в Санкт-Петербург?</p>
          <div class="question__body">
            <p>Наша компания осуществляет доставку по всей территории России. Мы работаем только с проверенными логистическими компаниями, отправляемый груз обязательно будет застрахован на полную стоимость и снабжается дополнительной упаковочной тарой, а также датчиками удара.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="faq__section" data-target="4">
      <p class="js-faq-mobile-toggler faq__mobile-title">
        <svg class="faq__mobile-title-icon" aria-hidden="true">
          <use xlink:href="#faq_icon_setup" />
        </svg>
        Вопросы по Сборке
      </p>
      <div class="faq__questions-block">
        <div class="js-question-toggler question">
          <p class="question__title">В какие города вы осуществляете доставку?</p>
          <div class="question__body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dicta maiores sint consequuntur rerum, id obcaecati accusamus provident fugit officiis est, quisquam dolorum. Nostrum veniam fuga, tenetur sit ducimus quaerat.</p>
            <p>Aliquid eligendi nesciunt, vel porro quasi eaque veniam recusandae aspernatur sequi.</p>
          </div>
        </div>
        <div class="js-question-toggler question">
          <p class="question__title">Сколько стоит доставка в Санкт-Петербург?</p>
          <div class="question__body">
            <p>Наша компания осуществляет доставку по всей территории России. Мы работаем только с проверенными логистическими компаниями, отправляемый груз обязательно будет застрахован на полную стоимость и снабжается дополнительной упаковочной тарой, а также датчиками удара.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
