<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__top">
      <ul class="footer-menu">
        <li class="footer-menu__title">МОЙ АККАУНТ</li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Вход</a> / <a class="footer-menu__link" href="/auth/?register=yes">Регистрация</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Моя корзина</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Забыли пароль</a></li>
      </ul>
      <ul class="footer-menu">
        <li class="footer-menu__title">ПРОДУКЦИЯ</li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Progaming - серия</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Performance - cерия</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Performance X - cерия</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Игровые моноблоки</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Рабочие станции</a></li>
      </ul>
      <ul class="footer-menu">
        <li class="footer-menu__title">ПОДДЕРЖКА</li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Оплата</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Доставка</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">FAQ</a></li>
      </ul>
      <ul class="footer-menu">
        <li class="footer-menu__title">ПРОЧЕЕ</li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Договор оферты</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Гарантия</a></li>
        <li class="footer-menu__item"><a class="footer-menu__link" href="#">Акции</a></li>
      </ul>
    </div>
    <div class="footer__middle">
      <div class="footer__logo"><img src="images/logo.png" alt="DIGITAL RAZOR"></div>
      <div class="footer__contacts">
        <p class="footer__phone"><a href="tel:+78125062971">+7 (812) 506-29-71</a></p>
        <p class="footer__addresses"><span class="footer__address">198152, г. Санкт-Петербург, ул. Краснопутиловская 9.,</span> <span class="footer__address">Москва, Шоссе Энтузиастов, дом 31с39, 3 этаж, офис 14</span><br> <a href="mailto:order@digital-razor.ru">order@digital-razor.ru</a></p>
      </div>
      <div class="footer__payments">
        <img width="44" height="28" src="images/visa.jpg" alt="VISA">
        <img width="44" height="28" src="images/paypal.jpg" alt="PAY PAL">
        <img width="44" height="28" src="images/mastercard.jpg" alt="MASTER CARD">
      </div>
    </div>
    <div class="footer__bottom">
      <p>
        2019 © DigitalRazor LLC. Все права защищены.<br>
        DigitalRazor и логотип DigitalRazor являются товарными знаками компании ООО "Форсайт Северо-Запад", зарегистрированными в России и других странах.<br>
        Другие наименования и товарные знаки являются собственностью своих законных владельцев.
      </p>
    </div>
  </div>
</footer>