<header class="header">
  <div class="header__inner container">
    <div class="header__top">
      <ul class="service-menu">
        <li class="service-menu__item"><a class="service-menu__link" href="#">Контакты</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="#">Оплата</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="#">Доставка</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="#">FAQ</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="#">Задайте вопрос</a></li>
      </ul>
      <div class="header__location location">
        <button class="js-location location-button" type="button" title="Выбрать город">
          <svg class="location-button__icon" aria-hidden="true">
            <use xlink:href="#pin" />
          </svg>
          <span>Санкт-Петербург</span>
        </button>
      </div>
      <a class="header__phone header-phone" href="tel:+78005009926" title="Позвоните нам">
        <svg class="header-phone__icon" aria-hidden="true">
          <use xlink:href="#phone" />
        </svg>
        8 800 500-99-26
      </a>
      <a class="header__personal personal-link" href="#" title="Личный кабинет">
        <svg class="personal-link__icon" aria-hidden="true">
          <use xlink:href="#user" />
        </svg>
      </a>
    </div>
    <div class="header__bottom">
      <a class="header__logo" href="index.html"><img src="images/logo.png" alt="DIGITAL RAZOR"></a>
      <button class="js-menu-toggler menu-toggler" type="button" title="Меню">
        <svg class="menu-toggler__burger" aria-hidden="true">
          <use xlink:href="#burger" />
        </svg>
        <svg class="menu-toggler__close" aria-hidden="true">
          <use xlink:href="#menu_close" />
        </svg>
      </button>
      <div class="menu-block">
        <div class="menu-block__inner">
          <ul class="main-menu">
            <li class="main-menu__item root">
              <a class="main-menu__link root-link" href="#">
                <span class="main-menu__link-text">Игровые компьютеры</span>
              </a>
              <div class="main-menu__dropdown">
                <p class="main-menu__dropdown-title">ИГРОВЫЕ СЕРИИ</p>
                <a class="main-menu__dropdown-link" href="#">ProGaming - серия</a>
                <a class="main-menu__dropdown-link" href="#">Performance - серия</a>
                <a class="main-menu__dropdown-link" href="#">Performance X - серия</a>
                <p class="main-menu__dropdown-title">СПЕЦИАЛЬНЫЕ СЕРИИ</p>
                <a class="main-menu__dropdown-link" href="#">Powered by ASUS</a>
                <a class="main-menu__dropdown-link" href="#">Powered by AMD</a>
              </div>
            </li>
            <li class="main-menu__item">
              <a class="main-menu__link is-active" href="#"><span class="main-menu__link-text">Рабочие станции</span></a>
            </li>
            <li class="main-menu__item">
              <a class="main-menu__link" href="#"><span class="main-menu__link-text">Моноблоки</span></a>
            </li>
          </ul>
          <div class="menu-block__mobile-content">
            всякая шляпа
          </div>
        </div>
        <a class="header__design-button design-button" href="#">
          <svg class="design-button__icon" aria-hidden="true">
            <use xlink:href="#design" />
          </svg>
          <span class="design-button__text">Создать свой дизайн</span>
        </a>
        <a class="header__cart cart-button" href="#" title="Корзина">
          <svg class="cart-button__icon" aria-hidden="true">
            <use xlink:href="#basket" />
          </svg>
          <svg class="cart-button__icon2" aria-hidden="true">
            <use xlink:href="#cart" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>