<header class="header">
  <div class="header__inner container">
    <div class="header__top">
      <ul class="service-menu">
        <li class="service-menu__item"><a class="service-menu__link" href="contacts.html">Контакты</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="#">Оплата</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="#">Доставка</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="faq.html">FAQ</a></li>
        <li class="service-menu__item"><a class="service-menu__link" href="#">Задайте вопрос</a></li>
      </ul>
      <div class="header__location location">
        <button class="js-location location-button" type="button" title="Выбрать город">
          <svg class="location-button__icon" aria-hidden="true">
            <use xlink:href="#pin" />
          </svg>
          <span>Петропавловск-Камчатский</span>
        </button>
        <div class="location__dropdown">
          <div class="location__dropdown-inner">
            <p class="location__dropdown-title">Начните вводить название своего города или выберите из списка ниже.</p>
            <div class="location__dropdown-form">
              <div class="location__dropdown-inputin">
                <input class="js-location-list location__dropdown-input" type="text" placeholder="Ваш населенный пункт" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
              </div>
              <div class="location__suggest">
                <p class="location__suggest-title">Выберите вариант или продолжайте ввод</p>
                <div class="location__suggest-list">
                  <div class="location__suggest-item">Россия, г <span>Мос</span>ква</div>
                  <div class="location__suggest-item">США, Айдахо, <span>Мос</span>ква</div>
                  <div class="location__suggest-item">Таджикистан, г <span>Мос</span>ковский</div>
                  <div class="location__suggest-item">Россия, г <span>Мос</span>ква</div>
                  <div class="location__suggest-item">США, Айдахо, <span>Мос</span>ква</div>
                  <div class="location__suggest-item">Таджикистан, г <span>Мос</span>ковский</div>
                  <div class="location__suggest-item">Россия, г <span>Мос</span>ква</div>
                  <div class="location__suggest-item">США, Айдахо, <span>Мос</span>ква</div>
                  <div class="location__suggest-item">Таджикистан, г <span>Мос</span>ковский</div>
                </div>
              </div>
            </div>
            <div class="location__dropdown-lists">
              <div class="location__dropdown-list">
                <div class="location__dropdown-link location__dropdown-link--main">Москва</div>
                <div class="location__dropdown-link location__dropdown-link--main">Санкт-Петербург</div>
                <div class="location__dropdown-link">Владивосток</div>
                <div class="location__dropdown-link">Екатеринбург</div>
                <div class="location__dropdown-link">Иркутск</div>
                <div class="location__dropdown-link">Казань</div>
              </div>
              <div class="location__dropdown-list">
                <div class="location__dropdown-link">Краснодар</div>
                <div class="location__dropdown-link">Красноярск</div>
                <div class="location__dropdown-link">Минск</div>
                <div class="location__dropdown-link">Нижний Новгород</div>
                <div class="location__dropdown-link">Новосибирск</div>
                <div class="location__dropdown-link">Нурсултан</div>
              </div>
              <div class="location__dropdown-list">
                <div class="location__dropdown-link">Пермь</div>
                <div class="location__dropdown-link">Ростов-на-Дону</div>
                <div class="location__dropdown-link">Самара</div>
                <div class="location__dropdown-link">Ставрополь</div>
                <div class="location__dropdown-link">Уфа</div>
                <div class="location__dropdown-link">Челябинск</div>
              </div>
            </div>
            <p class="location__dropdown-note">
              <img width="35" src="images/icons/car.svg" alt="">
              <span>Бесплатная доставка по России<br> Казахстан, Белоруссия - от 2500р.</span>
            </p>
          </div>
        </div>
      </div>
      <a class="header__phone header-phone" href="tel:+78005009926" title="Позвоните нам">
        <svg class="header-phone__icon" aria-hidden="true">
          <use xlink:href="#phone" />
        </svg>
        <span class="header-phone__text">8 800 500-99-26</span>
      </a>
      <a class="header__personal personal-link" href="#" title="Личный кабинет">
        <svg class="personal-link__icon" aria-hidden="true">
          <use xlink:href="#user" />
        </svg>
      </a>
    </div>
    <div class="header__bottom">
      <a class="header__logo" href="main.html"><img src="images/logo.png" alt="DIGITAL RAZOR"></a>
      <button class="js-menu-toggler menu-toggler" type="button" title="Меню">
        <svg class="menu-toggler__burger" aria-hidden="true">
          <use xlink:href="#burger" />
        </svg>
        <svg class="menu-toggler__close" aria-hidden="true">
          <use xlink:href="#menu_close" />
        </svg>
      </button>
      <div class="menu-block">
        <div class="menu-block__inner">
          <ul class="main-menu">
            <li class="main-menu__item root">
              <a class="main-menu__link root-link" href="#">
                <span class="main-menu__link-text">Игровые компьютеры</span>
              </a>
              <div class="main-menu__dropdown">
                <p class="main-menu__dropdown-title">ИГРОВЫЕ СЕРИИ</p>
                <a class="main-menu__dropdown-link" href="#">ProGaming - серия</a>
                <a class="main-menu__dropdown-link" href="#">Performance - серия</a>
                <a class="main-menu__dropdown-link" href="#">Performance X - серия</a>
                <p class="main-menu__dropdown-title">СПЕЦИАЛЬНЫЕ СЕРИИ</p>
                <a class="main-menu__dropdown-link" href="#">Powered by ASUS</a>
                <a class="main-menu__dropdown-link" href="#">Powered by AMD</a>
              </div>
            </li>
            <li class="main-menu__item">
              <a class="main-menu__link is-active" href="#"><span class="main-menu__link-text">Рабочие станции</span></a>
            </li>
            <li class="main-menu__item">
              <a class="main-menu__link" href="#"><span class="main-menu__link-text">Моноблоки</span></a>
            </li>
          </ul>
          <div class="menu-block__mobile-content mc">
            <div class="mc__top">
              <div class="mc__top-menus">
                <ul class="footer-menu">
                  <li class="footer-menu__item"><a class="footer-menu__link" href="#">Вход</a>&nbsp;/&nbsp;<a class="footer-menu__link" href="/auth/?register=yes">Регистрация</a></li>
                  <li class="footer-menu__item"><a class="footer-menu__link" href="#">Моя корзина</a></li>
                  <li class="footer-menu__item"><a class="footer-menu__link" href="#">Забыли пароль</a></li>
                  <li class="footer-menu__item"><a class="footer-menu__link" href="#">Договор оферты</a></li>
                  <li class="footer-menu__item"><a class="footer-menu__link" href="#">Гарантия</a></li>
                  <li class="footer-menu__item"><a class="footer-menu__link" href="#">Акции</a></li>
                </ul>
                <ul class="footer-menu">
                  <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты</a></li>
                  <li class="footer-menu__item"><a class="footer-menu__link" href="#">Оплата</a></li>
                  <li class="footer-menu__item"><a class="footer-menu__link" href="#">Доставка</a></li>
                  <li class="footer-menu__item"><a class="footer-menu__link" href="#">FAQ</a></li>
                </ul>
              </div>
              <p class="mc__phone"><a href="tel:+78005009926">8 800 500-99-26</a></p>
              <p class="mc__address">Санкт-Петербург,<br> ул.&nbsp;Краснопутиловская&nbsp;9.</p>
              <p class="mc__address">Москва, Шоссе&nbsp;Энтузиастов,<br> дом&nbsp;31с39, 3&nbsp;этаж, офис&nbsp;14</p>
            </div>
            <div class="mc__middle">
              <div class="mc__payments">
                <span class="payment-system" title="VISA">
                  <svg class="payment-system__icon payment-system__icon--visa" aria-hidden="true">
                    <use xlink:href="#visa" />
                  </svg>
                </span>
                <span class="payment-system" title="MASTER CARD">
                  <svg class="payment-system__icon payment-system__icon--ms" aria-hidden="true">
                    <use xlink:href="#mastercard" />
                  </svg>
                </span>
                <span class="payment-system" title="PAY PAL">
                  <svg class="payment-system__icon payment-system__icon--pp" aria-hidden="true">
                    <use xlink:href="#paypal" />
                  </svg>
                </span>
              </div>
              <div class="mc__email-block">
                <a href="mailto:order@digital-razor.ru">order@digital-razor.ru</a>
              </div>
            </div>
            <div class="mc__bottom">
              <div class="mc__copyright">
                2020 © DigitalRazor LLC. Все права защищены.
              </div>
              <div class="mc__note">
                DigitalRazor и логотип DigitalRazor являются товарными знаками компании ООО "Форсайт Северо-Запад", зарегистрированными в России и других странах. Другие наименования и товарные знаки являются собственностью своих законных
                владельцев.
              </div>
            </div>
          </div>
        </div>
        <a class="header__design-button design-button" href="#">
          <svg class="design-button__icon" aria-hidden="true">
            <use xlink:href="#design" />
          </svg>
          <span class="design-button__text">Создать свой дизайн</span>
        </a>
        <a class="header__cart cart-button" href="#" title="Корзина">
          <svg class="cart-button__icon" aria-hidden="true">
            <use xlink:href="#basket" />
          </svg>
          <svg class="cart-button__icon2" aria-hidden="true">
            <use xlink:href="#cart" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
