<div class="js-main-banner main-banner">
  <div class="main-banner__slide main-banner__slide--wide" style="background-image: url('images/content/main_banner/bg4.jpg')">
    <div class="main-banner__slide-inner">
      <p class="main-banner__slide-title"><span>Укомплектуй клуб</span><br> игровыми ПК для геймеров</p>
      <p class="main-banner__slide-text">Выбор игровых систем - это просто: гарантия 3 года,<br> комплексное решение, техническая поддержка, лизинг</p>
    </div>
  </div>
  <div class="main-banner__slide main-banner__slide--wide" style="background-image: url('images/content/main_banner/bg4.jpg')">
    <div class="main-banner__slide-inner">
      <p class="main-banner__slide-title"><span>Укомплектуй клуб</span><br> игровыми ПК для геймеров</p>
      <p class="main-banner__slide-text">Выбор игровых систем - это просто: гарантия 3 года,<br> комплексное решение, техническая поддержка, лизинг</p>
    </div>
  </div>
  <div class="main-banner__slide main-banner__slide--wide" style="background-image: url('images/content/main_banner/bg4.jpg')">
    <div class="main-banner__slide-inner">
      <p class="main-banner__slide-title"><span>Укомплектуй клуб</span><br> игровыми ПК для геймеров</p>
      <p class="main-banner__slide-text">Выбор игровых систем - это просто: гарантия 3 года,<br> комплексное решение, техническая поддержка, лизинг</p>
    </div>
  </div>
</div>