<div class="js-main-banner main-banner">
  <div class="main-banner__slide main-banner__slide--1 ">
    <div class="main-banner__slide-back animate" style="background-image: url('images/content/main_banner/bg2.jpg')"></div>
    <style>
      @media(min-width: 768px) {
        .main-banner__slide--1 .main-banner__slide-back {
          background-image: url('images/content/main_banner/bg2.jpg') !important
        }
      }
    </style>
    <div class="main-banner__slide-inner">
      <div class="main-banner__slide-image"><img src="https://digital-razor.ru/images/2020/special-offer/asus-b550/front-asus-devices-gift.png" alt=""></div>
      <div class="main-banner__slide-info">
        <p class="main-banner__slide-title">256GB <span>В ПОДАРОК</span><br> ПРИ ПОКУПКЕ ПК</p>
        <p class="main-banner__slide-text">При заказе игрового компьютера с материнской платой и видеокартой от MSI - получи новинку SSD Kingston KC600 на 256 GB в подарок!</p>
        <a class="button button--arrow" href="#"><span class="button__text">Собери свой пк</span></a>
      </div>
    </div>
  </div>
  <div class="main-banner__slide main-banner__slide--2">
    <div class="main-banner__slide-back" style="background-image: url('images/content/main_banner/bg3.jpg')"></div>
    <style>
      @media(min-width: 768px) {
        .main-banner__slide--2 .main-banner__slide-back {
          background-image: url('images/content/main_banner/bg3.jpg') !important
        }
      }
    </style>
    <div class="main-banner__slide-inner">
      <div class="main-banner__slide-image"><img src="https://digital-razor.ru/images/2020/special-offer/asus-steam/Front-steam-bonus-min.png" alt=""></div>
      <div class="main-banner__slide-info">
        <p class="main-banner__slide-title">КОВРИК ASUS<br><span>В ПОДАРОК</span> ПРИ ПОКУПКЕ ПК</p>
        <p class="main-banner__slide-text">Закажи игровой ПК серии c материнской платой или видеокартой ASUS  и получи игровой коврик в подарок.</p>
        <a class="button button--arrow" href="#"><span class="button__text">Собери свой пк</span></a>
      </div>
    </div>
  </div>
  <div class="main-banner__slide main-banner__slide--3">
    <div class="main-banner__slide-back" style="background-image: url('images/content/main_banner/bg_mobile.jpg')"></div>
    <style>
      @media(min-width: 768px) {
        .main-banner__slide--3 .main-banner__slide-back {
          background-image: url('images/content/main_banner/bg.jpg') !important
        }
      }
    </style>
    <div class="main-banner__slide-inner">
      <div class="main-banner__slide-image"><img src="https://digital-razor.ru/images/2020/special-offer/asus-steam/Front-steam-bonus-min.png" alt=""></div>
      <div class="main-banner__slide-info">
        <p class="main-banner__slide-title">Звездные войны <span>Джедаи</span>&nbsp;Павший орден</p>
        <p class="main-banner__slide-text">Закажи игровой ПК серии Performance c материнской платой AORUS Z390 ELITE и получи игру в подарок</p>
        <a class="button button--arrow" href="#"><span class="button__text">Собери свой пк</span></a>
      </div>
    </div>
  </div>
</div>
