<div class="js-main-banner main-banner">
  <div class="main-banner__slide main-banner__slide--1" style="background-image: url('images/content/main_banner/bg_mobile.jpg')">
    <style>
      @media(min-width: 768px) {
        .main-banner__slide--1 {
          background-image: url('../images/content/main_banner/bg.jpg') !important
        }
      }
    </style>
    <div class="main-banner__slide-inner">
      <div class="main-banner__slide-image"><img src="images/content/main_banner/img_1.png" alt=""></div>
      <div class="main-banner__slide-info">
        <p class="main-banner__slide-title">Звездные войны <span>Джедаи</span>&nbsp;Павший орден</p>
        <p class="main-banner__slide-text">Закажи игровой ПК серии Performance c материнской платой AORUS Z390 ELITE и получи игру в подарок</p>
        <a class="button button--arrow" href="#"><span class="button__text">Собери свой пк</span></a>
      </div>
    </div>
  </div>
  <div class="main-banner__slide main-banner__slide--2" style="background-image: url('images/content/main_banner/bg_mobile.jpg')">
    <style>
      @media(min-width: 768px) {
        .main-banner__slide--2 {
          background-image: url('../images/content/main_banner/bg.jpg') !important
        }
      }
    </style>
    <div class="main-banner__slide-inner">
      <div class="main-banner__slide-image"><img src="images/content/main_banner/img_1.png" alt=""></div>
      <div class="main-banner__slide-info">
        <p class="main-banner__slide-title">Звездные войны <span>Джедаи</span>&nbsp;Павший орден</p>
        <p class="main-banner__slide-text">Закажи игровой ПК серии Performance c материнской платой AORUS Z390 ELITE и получи игру в подарок</p>
        <a class="button button--arrow" href="#"><span class="button__text">Собери свой пк</span></a>
      </div>
    </div>
  </div>
  <div class="main-banner__slide main-banner__slide--3" style="background-image: url('images/content/main_banner/bg_mobile.jpg')">
    <style>
      @media(min-width: 768px) {
        .main-banner__slide--3 {
          background-image: url('../images/content/main_banner/bg.jpg') !important
        }
      }
    </style>
    <div class="main-banner__slide-inner">
      <div class="main-banner__slide-image"><img src="images/content/main_banner/img_1.png" alt=""></div>
      <div class="main-banner__slide-info">
        <p class="main-banner__slide-title">Звездные войны <span>Джедаи</span>&nbsp;Павший орден</p>
        <p class="main-banner__slide-text">Закажи игровой ПК серии Performance c материнской платой AORUS Z390 ELITE и получи игру в подарок</p>
        <a class="button button--arrow" href="#"><span class="button__text">Собери свой пк</span></a>
      </div>
    </div>
  </div>
  <div class="main-banner__slide main-banner__slide--4" style="background-image: url('images/content/main_banner/bg_mobile.jpg')">
    <style>
      @media(min-width: 768px) {
        .main-banner__slide--4 {
          background-image: url('../images/content/main_banner/bg.jpg') !important
        }
      }
    </style>
    <div class="main-banner__slide-inner">
      <div class="main-banner__slide-image"><img src="images/content/main_banner/img_1.png" alt=""></div>
      <div class="main-banner__slide-info">
        <p class="main-banner__slide-title">Звездные войны <span>Джедаи</span>&nbsp;Павший орден</p>
        <p class="main-banner__slide-text">Закажи игровой ПК серии Performance c материнской платой AORUS Z390 ELITE и получи игру в подарок</p>
        <a class="button button--arrow" href="#"><span class="button__text">Собери свой пк</span></a>
      </div>
    </div>
  </div>
</div>