.catalog-menu
  min-height: 60px
  margin-bottom: 35px

  @media(min-width: 1200px)
    margin-bottom: 70px

  &__inner
    &.half-scrolled
      transition: transform 0.3s
      transform: translateY(-100%)

    &.scrolled
      background-color: #0F171F
      box-shadow: 0 4px 14px 0 rgba(#000, 0.25)
      left: 0
      position: fixed
      right: 0
      top: 54px
      transform: translateY(0)
      z-index: 9

      @media(min-width: 992px)
        top: 89px

      .catalog-menu__list
        border-bottom-color: transparent

  &__list
    display: flex
    font-family: $secondary_font
    font-size: 16px
    flex-wrap: wrap
    justify-content: center
    margin-left: -10px
    margin-right: -10px
    text-transform: uppercase

    @media(min-width: 1200px)
      border-bottom: 1px solid #4F5966
      margin-bottom: 70px

  &__item
    margin-left: 10px
    margin-right: 10px
    margin-bottom: 0

    @media(min-width: 1200px)
      margin-left: 20px
      margin-right: 20px

  &__link
    border-bottom: 4px solid transparent
    color: #66788C
    display: block
    padding-bottom: 9px
    padding-top: 9px
    text-decoration: none
    white-space: nowrap

    @media(min-width: 1200px)
      padding-bottom: 17px
      padding-top: 17px

    &:hover,
    &.is-active
      color: #fff

    &.is-active
      border-bottom-color: $main_color

.catalog-title
  text-align: center

.catalog-text
  color: #66788C
  max-width: 895px
  margin-left: auto
  margin-right: auto
  margin-bottom: 40px
  text-align: center

  @media(min-width: 1200px)
    font-size: 17px
    margin-bottom: 80px

.catalog-sorting
  align-items: flex-start
  display: flex
  flex-wrap: wrap
  margin-bottom: 20px

  @media(min-width: 1200px)
    margin-bottom: 35px

.catalog-filter
  margin-bottom: 10px
  margin-right: auto
  position: relative
  width: 100%

  @media(min-width: 992px)
    align-items: center
    display: flex
    width: auto

  &__list,
  &__dropdown
    display: flex
    flex-wrap: wrap

  &__dropdown
    display: none

    @media(min-width: 992px)
      left: 0
      position: absolute
      top: 60px
      width: 400px
      z-index: 1

    @media(min-width: 1200px)
      width: 520px

    &.is-open
      display: flex

  &__button
    background-color: #0b1015
    border: 1px solid #262F39
    cursor: pointer
    height: 60px
    position: relative
    padding: 10px
    text-align: center
    width: 25%

    @media(min-width: 992px)
      width: 100px

    @media(min-width: 1200px)
      width: 130px

    //&:not(:first-child)
      margin-left: -1px

    img
      opacity: 0.5

    &.is-active
      &::after
        background-color: $main_color
        bottom: 0
        content: ''
        height: 4px
        left: 0
        position: absolute
        top: auto
        width: 100%
        z-index: 1

      img
        opacity: 1

  &__opener
    background-color: transparent
    border: none
    color: #66788C
    cursor: pointer
    display: block
    font-size: 16px
    margin-left: auto
    margin-right: auto
    padding: 15px
    width: 165px

    @media(min-width: 1200px)
      margin-left: 25px

    span
      border-bottom: 1px dotted currentColor

.catalog-sort
  align-items: center
  display: flex
  flex-wrap: wrap
  margin-bottom: 10px

  &__title
    color: #66788C
    margin-right: 15px
    margin-bottom: 5px
    margin-top: 5px

  .select-wrapper
    position: relative
    z-index: 1

  .select2-container
    min-width: 240px

  .select2-container--default .select2-selection--single
    border-color: #32455A
    background-color: #171F29
    height: 60px

  .select2-container--default .select2-selection--single .select2-selection__rendered
    color: #66788C
    line-height: 60px

  .select2-container--default .select2-selection--single .select2-selection__arrow
    height: 58px

  .select2-dropdown
    color: #66788C
    border-color: #32455A
    background-color: #171F29

  .select2-container--default .select2-results__option--highlighted[aria-selected],
  .select2-container--default .select2-results__option[aria-selected="true"]
    background-color: lighten(#171F29, 10%)
    color: #66788C

.catalog-list
  display: flex
  flex-wrap: wrap
  margin-left: -15px
  margin-right: -15px

  &__item
    display: flex
    padding-left: 15px
    padding-right: 15px
    margin-bottom: 30px
    width: 100%

    @media(min-width: 600px)
      width: 50%

    @media(min-width: 992px)
      width: 33.33333%

    @media(min-width: 1200px)
      min-height: 600px
      position: relative
      width: 25%

    @media(min-width: 1400px)
      min-height: 640px

.catalog-item
  border: 1px solid #090D11
  background-color: #090D11
  display: flex
  flex-direction: column
  padding: 35px 0 30px
  margin-left: auto
  margin-right: auto
  transition: border-color 0.3s, background-color 0.3s
  width: 100%

  @media(min-width: 1200px)
    min-height: 100%

  &:hover
    background-color: #171F29
    border-color: #32455A

    @media(min-width: 1200px)
      left: 15px
      position: absolute
      top: 0
      width: calc(100% - 30px)
      z-index: 1

    .catalog-item__title

      @media(min-width: 1200px)
        max-height: 400px

  &__link
    display: block
    margin-bottom: 15px
    text-decoration: none

    &:hover
      .catalog-item__title
        text-decoration: underline

  &__image
    display: block
    margin-bottom: 30px
    text-align: center

    img
      max-width: 226px

  &__title
    color: #fff
    display: block
    font-family: $secondary_font
    font-weight: 300
    font-size: 18px
    min-height: 4.125em
    padding-left: 20px
    padding-right: 20px

    @media(min-width: 1200px)
      max-height: 4.125em
      overflow: hidden

    @media(min-width: 1400px)
      font-size: 30px

  &__info
    margin-top: auto
    padding-left: 20px
    padding-right: 20px

    &--nostock
      margin-top: 0

  &__stock
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0.5C3.1552 0.5 0 3.6552 0 7.5C0 11.3448 3.1552 14.5 7 14.5C10.8448 14.5 14 11.3448 14 7.5C14 3.6552 10.8448 0.5 7 0.5ZM6.15286 10.6839L3.08749 7.61856L4.24747 6.45859L6.20654 8.41766L10.1395 4.84241L11.2434 6.05606L6.15286 10.6839Z' fill='%2325BA4F'/%3E%3C/svg%3E%0A")
    background-position: 0 50%
    background-repeat: no-repeat
    color: #25BA4F
    font-family: $secondary_font
    font-size: 15px
    margin-bottom: 20px
    padding-left: 20px

  &__nostock
    color: #4F5966
    font-family: $secondary_font
    font-size: 15px

    a
      border-bottom: 1px dashed currentColor
      color: #fff
      margin-left: 10px
      text-decoration: none

  &__price-block
    align-items: center
    display: flex
    margin-bottom: 15px

    .select-wrapper
      margin-left: 15px
      position: relative
      z-index: 2

      @media(min-width: 1400px)
        margin-left: 30px

    .select2-container
      min-width: 115px
      font-size: 13px

    .select2-container--default .select2-selection--single
      border-color: #32455A
      background-color: #171F29
      height: 44px

    .select2-container--default .select2-selection--single .select2-selection__rendered
      color: #66788C
      line-height: 44px
      padding-left: 10px
      padding-right: 30px

    .select2-container--default .select2-selection--single .select2-selection__arrow
      height: 42px
      right: 9px

    .select2-dropdown
      color: #66788C
      border-color: #32455A
      background-color: #171F29

    .select2-container--default .select2-results__option--highlighted[aria-selected],
    .select2-container--default .select2-results__option[aria-selected="true"]
      background-color: lighten(#171F29, 10%)
      color: #66788C

    .select2-results__option
      padding-left: 10px
      padding-right: 10px

  &__price
    color: #fff
    font-family: $secondary_font
    font-weight: 600
    font-size: 20px
    line-height: 1
    margin-bottom: 5px
    white-space: nowrap

    @media(min-width: 1400px)
      font-size: 29px

  &__credit-price
    color: #66788C
    font-size: 12px
    margin-bottom: 0

  &__buy-button
    background-color: $main_color
    border-color: $main_color
    height: 60px
    max-width: 180px
    min-width: 180px

    &:hover,
    &:focus
      background-color: $main_color
      border-color: $main_color
      text-decoration: none

    &::before,
    &::after
      height: 60px

.cart-popup
  background-color: #171F29
  max-width: 666px
  padding: 50px 15px
  width: 100%
  z-index: 10

  @media(min-width: 680px)
    padding: 50px 60px

  &__close
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    height: 50px
    justify-content: center
    left: auto
    position: absolute
    padding: 0
    right: 0
    top: 0
    width: 50px

  &__close-svg
    stroke: #32455A
    height: 20px
    width: 20px

  &__title
    color: #fff
    font-family: $secondary_font
    font-size: 32px
    margin-bottom: 25px
    text-align: center

    @media(min-width: 680px)
      margin-bottom: 50px
      text-align: left

  &__buttons
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-left: -5px
    margin-right: -5px

    .button
      margin: 5px
      max-width: 270px
      width: 100%

      @media(min-width: 680px)
        width: calc(50% - 10px)

    .button--buy
      background-color: $main_color
      border-color: $main_color
      height: 60px

      &:hover,
      &:focus
        background-color: $main_color
        border-color: $main_color
        text-decoration: none

      &::before,
      &::after
        height: 60px

    .button--arrow
      border-color: #263849
      background-color: transparent

      &::before
        background-color: #263849

.catalog-detail
  margin-bottom: 15px

  @media(min-width: 992px)
    display: flex

  @media(min-width: 1200px)
    margin-bottom: 65px

  &__image
    background-color: #090D11
    text-align: center

    &--desktop
      display: none

      @media(min-width: 992px)
        display: block
        order: 1
        width: 50%

    &--mobile
      margin-left: -15px
      margin-right: -15px
      margin-bottom: 20px

      @media(min-width: 992px)
        display: none

  &__info
    @media(min-width: 992px)
      order: 2
      padding-left: 35px
      width: 50%

    @media(min-width: 1400px)
      padding-left: 70px

  &__title
    margin-left: 15px

    @media(min-width: 1200px)
      margin-left: 30px

  &__stock-block
    font-size: 15px
    margin-bottom: 25px

    a
      border-bottom: 1px dotted currentColor
      color: #A9B5C2
      font-family: $secondary_font
      text-decoration: none

  &__stock
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 0.5C3.1552 0.5 0 3.6552 0 7.5C0 11.3448 3.1552 14.5 7 14.5C10.8448 14.5 14 11.3448 14 7.5C14 3.6552 10.8448 0.5 7 0.5ZM6.15286 10.6839L3.08749 7.61856L4.24747 6.45859L6.20654 8.41766L10.1395 4.84241L11.2434 6.05606L6.15286 10.6839Z' fill='%2325BA4F'/%3E%3C/svg%3E%0A")
    background-position: 0 50%
    background-repeat: no-repeat
    color: #25BA4F
    font-family: $secondary_font
    font-size: 15px
    margin-right: 15px
    padding-left: 20px

  &__text
    color: #66788C
    margin-bottom: 25px

    @media(min-width: 1400px)
      font-size: 17px
      margin-bottom: 50px

  &__price-block
    align-items: center
    display: flex
    flex-wrap: wrap

  &__price-block-inner
    margin-bottom: 10px
    margin-right: 20px

    @media(min-width: 768px)
      margin-right: 40px

  &__price
    color: #fff
    font-family: $secondary_font
    font-weight: 600
    font-size: 20px
    line-height: 1
    margin-bottom: 5px
    white-space: nowrap

    @media(min-width: 1400px)
      font-size: 29px

  &__credit-price
    color: #66788C
    font-size: 12px
    margin-bottom: 0

  &__buy-button
    background-color: $main_color
    border-color: $main_color
    height: 60px
    margin-bottom: 10px

    &:hover,
    &:focus
      background-color: $main_color
      border-color: $main_color
      text-decoration: none

    &::before,
    &::after
      height: 60px

.detail-tabs-nav
  min-width: 48px
  margin-bottom: 15px

  @media(min-width: 1200px)
    margin-bottom: 55px

  &__inner
    //margin-left: -15px
    //margin-right: -15px

    //@media(min-width: 1200px)
      margin-left: auto
      margin-right: auto

    &.half-scrolled
      transition: transform 0.3s
      transform: translateY(-100%)

    &.scrolled
      background-color: #0F171F
      box-shadow: 0 4px 14px 0 rgba(#000, 0.25)
      left: 0
      position: fixed
      right: 0
      top: 54px
      transform: translateY(0)
      z-index: 9

      @media(min-width: 992px)
        top: 89px

  &__list
    display: flex
    font-family: $secondary_font
    font-size: 12px
    margin-bottom: 30px
    margin-left: auto
    margin-right: auto
    max-width: 1330px
    //padding-left: 30px
    //padding-right: 30px
    overflow-x: auto
    text-transform: uppercase

    @media(min-width: 1200px)
      font-size: 16px
      padding-left: 0

  &__item
    margin-right: 20px

    @media(min-width: 1200px)
      margin-right: 40px

    &:first-child
      margin-left: 15px

      @media(min-width: 1200px)
        margin-left: 0

  &__link
    color: #66788C
    display: block
    padding-top: 15px
    padding-bottom: 15px
    text-decoration: none

    &:hover,
    &.is-active
      color: #fff

.detail-tab
  border: 1px solid #32455A
  background-color: #171F29
  display: none
  padding: 20px
  margin-bottom: 40px

  @media(min-width: 992px)
    padding: 40px

  @media(min-width: 1200px)
    padding: 60px 110px
    margin-bottom: 80px

  &.is-active
    display: block

  .title
    text-transform: none

    @media(min-width: 1200px)
      font-size: 32px

  table
    border-collapse: collapse
    max-width: 785px
    width: 100%

    &:not(:last-child)
      margin-bottom: 20px

    @media(min-width: 1200px)
      font-size: 17px
      margin-bottom: 40px

    tr
      @media(max-width: 767px)
        display: block

      &:not(:last-child)

        td
          border-bottom: 1px solid rgba(#4F5966, 0.3)

        th
          @media(min-width: 768px)
            border-bottom: 1px solid rgba(#4F5966, 0.3)

    th,
    td
      @media(max-width: 767px)
        display: block

    th
      color: #66788C
      font-weight: 400
      padding-top: 10px
      text-align: left
      text-transform: uppercase

      @media(min-width: 768px)
        padding-bottom: 10px

    td
      color: #fff
      padding-bottom: 10px

      @media(min-width: 768px)
        padding-top: 10px

  h3
    font-size: 18px
    margin-bottom: 15px

    @media(min-width: 1200px)
      font-size: 24px
      margin-bottom: 30px
