.main-banner
  display: flex
  overflow: auto
  overflow-y: hidden
  min-height: 550px

  @media(min-width: 1200px)
    height: 770px

  @media(min-width: 1900px)
    height: 900px

  @media(min-width: 2400px)
    height: 1100px

  &.slick-initialized
    display: block

    .main-banner__slide
      display: flex
      min-width: 0

  &__slide
    overflow: hidden
    min-height: 550px
    min-width: 100%
    padding-bottom: 40px
    position: relative
    width: 100%

    @media(min-width: 768px)
      align-items: center
      display: flex
      padding-bottom: 0

    @media(min-width: 1200px)
      height: 770px
      padding-top: 160px

    @media(min-width: 1900px)
      height: 900px

    @media(min-width: 2400px)
      height: 1100px

    &--wide
      display: flex
      height: 550px
      padding-top: 55px
      padding-bottom: 55px

      .main-banner__slide-inner
        display: flex
        flex-direction: column
        height: 100%
        justify-content: center
        padding-left: 15px
        padding-right: 15px

        @media(min-width: 1200px)
          height: calc(100% - 160px)

      .main-banner__slide-title
        text-align: center

        @media(min-width: 1900px)
          font-size: 68px

      .main-banner__slide-text
        text-align: center

        @media(min-width: 1900px)
          font-size: 25px
          line-height: 35px

  &__slide-back
    background-position: 50% 50%
    background-repeat: no-repeat
    background-size: cover
    bottom: 0
    left: 0
    position: absolute
    right: 0
    top: 0

    &.animate
      animation: kenburns 15s ease alternate forwards

  &__slide-inner
    height: auto
    max-width: 1100px
    margin-left: auto
    margin-right: auto
    position: relative
    text-align: center
    z-index: 1

    @media(min-width: 768px)
      align-items: center
      display: flex
      text-align: left

    @media(min-width: 1900px)
      max-width: 1680px

  &__slide-image
    margin-left: auto
    margin-right: auto
    width: 71%

    @media(min-width: 768px)
      min-width: 51%
      margin-left: 0
      margin-right: 0
      text-align: center
      width: 51%

    @media(min-width: 1200px)
      min-width: 42%
      margin-left: 0
      margin-right: 0
      text-align: center
      width: 42%

    @media(min-width: 2400px)
      min-width: 51%
      margin-left: 0
      margin-right: 0
      text-align: center
      width: 51%

  &__slide-info
    padding-left: 15px
    padding-right: 15px

    @media(min-width: 1200px)
      flex-grow: 1

    @media(min-width: 1900px)
      padding-left: 60px
      padding-right: 60px

  &__slide-title
    color: #fff
    font-family: $secondary_font
    font-size: 28px
    font-weight: 500
    line-height: 1.33333
    margin-bottom: 15px
    text-transform: uppercase

    @media(min-width: 1200px)
      font-size: 42px
      margin-bottom: 25px

    @media(min-width: 1400px)
      font-size: 48px

    span
      color: $main_color

  &__slide-text
    color: #fff
    font-size: 12px
    line-height: 18px
    margin-bottom: 30px

    @media(min-width: 1200px)
      font-size: 16px
      line-height: 22px
      margin-bottom: 40px

    &:last-child
      margin-bottom: 0

  .slick-prev
    left: 30px

    @media(min-width: 1500px)
      left: 105px

  .slick-next
    right: 30px

    @media(min-width: 1500px)
      right: 105px

  .slick-dots
    bottom: 0

    @media(min-width: 768px)
      bottom: 20px

@keyframes kenburns
  0%
    transform: scale(1)

  100%
    transform: scale(1.15)
