.popup
  background-color: #10141a
  display: none
  max-width: 1170px
  width: 100%

  @media(min-width: 1200px)
    background-image: url('../images/bg/club_request_popup/top_left.png'), url('../images/bg/club_request_popup/bottom_right.png')
    background-position: top left, bottom right
    background-repeat: no-repeat, no-repeat

  &.fancybox-content
    padding: 60px 20px

    @media(min-width: 1200px)
      padding: 100px 145px

  &--design_save
    background-color: #171F29
    background-image: none
    max-width: 554px

    @media(min-width: 1200px)
      background-color: #171F29
      background-image: none

    &.fancybox-content
      padding: 60px 20px

      @media(min-width: 560px)
        padding: 60px

      @media(min-width: 1200px)
        padding: 60px

    .popup__close
      background-color: #171F29

    .popup__text
      color: #66788C
      font-size: 13px
      margin-bottom: 15px

    .form
      margin-top: 30px

      .form__label
        margin-bottom: 20px

      .form__button-block
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin-top: 30px

        @media(min-width: 560px)
          justify-content: space-between

        .button
          margin-bottom: 10px

          @media(min-width: 560px)
            min-width: 210px

  &--resume
    background-color: #171F29
    background-image: none
    max-width: 765px

    @media(min-width: 1200px)
      background-color: #171F29
      background-image: none

    &.fancybox-content
      padding: 30px 20px

      @media(min-width: 768px)
        padding: 40px 50px

      @media(min-width: 1200px)
        padding: 40px 50px

    .popup__close
      background-color: #171F29

    .popup__title
      text-transform: none

      @media(min-width: 1200px)
        font-size: 32px

    .row
      margin-left: -10px
      margin-right: -10px

    .col-md-6
      padding-left: 10px
      padding-right: 10px

    .form
      margin-top: 30px

      .form__label
        margin-bottom: 20px

      .form__button-block
        margin-top: 30px
        text-align: left

        .button
          min-width: 250px

    .upload-file_2
      border-color: #32455a

    .checkbox-label3
      margin-top: 20px
      margin-bottom: 20px

  &__close
    align-items: center
    background-color: #1f262f
    border: none
    cursor: pointer
    height: 50px
    justify-content: center
    left: auto
    position: absolute
    padding: 0
    right: 0
    top: 0
    width: 50px

  &__close-svg
    fill: #fff
    height: 13px
    width: 13px

  &__title
    color: #fff
    font-family: $secondary_font
    font-size: 26px
    font-weight: 500
    line-height: 1.33333
    margin-bottom: 17px
    text-transform: uppercase

    @media(min-width: 375px)
      font-size: 28px

    @media(min-width: 1200px)
      font-size: 42px

  &__text
    margin-bottom: 45px

  .fancybox-button
    display: none

  .form2__submit-block
    @media(min-width: 768px)
      justify-content: space-between

    .checkbox-label2
      @media(min-width: 768px)
        margin-left: 40px
