<div id="popup_1" class="popup popup--big">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#popup-close" />
    </svg>
  </button>
  <p class="popup__title">Какой у Вас вопрос?</p>
  <form class="popup__form form" action="">
    <div class="row">
      <div class="col-md-4">
        <label class="form__label">
          <span class="form__label-text">Имя:</span>
          <input class="input" type="text" name="uname" value="" placeholder="Иван">
        </label>
      </div>
      <div class="col-md-4">
        <label class="form__label">
          <span class="form__label-text">Телефон:</span>
          <input class="js-phone-mask input" type="text" name="uphone" value="" placeholder="+7(___)___-__-__">
        </label>
      </div>
      <div class="col-md-4">
        <label class="form__label">
          <span class="form__label-text">E-mail:</span>
          <input class="js-email-mask input" type="text" name="uemail" value="" placeholder="example@mail.ru">
        </label>
      </div>
    </div>
    <label class="form__label">
      <span class="form__label-text">Ваш вопрос:</span>
      <textarea class="textarea" name="question" placeholder="Опишите подробно ваш вопрос..."></textarea>
    </label>
    <div class="popup__form-buttons">
      <button class="button button--h50" type="submit">Отправить вопрос</button>
    </div>
  </form>
</div>

<div id="popup_2" class="popup">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#popup-close" />
    </svg>
  </button>
  <p class="popup__title">Обратите внимание вы не завершили<br> оформление заказа</p>
  <p class="popup__text">По какой-то причине Вы не завершили оформление заказа, не беспокойтесь мы сохраним вашу конфигурацию и список товаров в вашем личном кабинете, вы сможете продолжить покупки в более удобное время.</p>
  <div class="popup__options-buttons">
    <a class="popup__option-button" href="#">
      <span class="popup__option-button-icon">
        <svg aria-hidden="true">
          <use xlink:href="#comment-dollar" />
        </svg>
      </span>
      <span class="popup__option-button-text">У меня есть вопрос<br> по оплате</span>
    </a>
    <a class="popup__option-button" href="#">
      <span class="popup__option-button-icon">
        <svg aria-hidden="true">
          <use xlink:href="#shipping-fast" />
        </svg>
      </span>
      <span class="popup__option-button-text">У меня есть вопрос<br> по доставке</span>
    </a>
    <a class="popup__option-button" href="#">
      <span class="popup__option-button-icon">
        <svg aria-hidden="true">
          <use xlink:href="#comments-alt" />
        </svg>
      </span>
      <span class="popup__option-button-text">Мне нужна<br> консультация</span>
    </a>
  </div>
  <div class="popup__buttons">
    <a class="popup__button button button--h50 button--transparent" href="#">Не интересует</a>
    <a class="popup__button button button--h50" href="#">Продолжу позже</a>
  </div>
</div>

<div id="popup_3" class="popup popup--small">
  <button class="js-popup-close popup__close" type="button" title="Закрыть">
    <svg class="popup__close-icon" aria-hidden="true">
      <use xlink:href="#popup-close" />
    </svg>
  </button>
  <div class="thanks">
    <img src="images/icons/popups/thanks.svg" alt="">
    <p class="thanks__title">СПАСИБО!</p>
    <p class="thanks__text">Наши специалисты свяжутся с вами!</p>
  </div>
</div>