<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/sorttable.js"></script>
<script type="text/javascript" src="js/jquery.sticky-kit.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="js/select2.full.min.js"></script>
<script type="text/javascript" src="js/file-upload.js"></script>
<script type="text/javascript" src="js/jquery.inputmask.min.js"></script>
<script type="text/javascript" src="js/inputmask-init.js"></script>
<script type="text/javascript" src="js/personal.js"></script>