<ul class="personal-menu">
  <li class="personal-menu__item"><a class="personal-menu__link is-active" href="personal_2.html"><span class="personal-menu__link-text">Сохраненные конфигурации</span></a></li>
  <li class="personal-menu__item"><a class="personal-menu__link" href="#"><span class="personal-menu__link-text">Сохраненные дизайны</span></a></li>
  <li class="personal-menu__item"><a class="personal-menu__link" href="personal_8.html"><span class="personal-menu__link-text">Партнерский кабинет</span></a></li>
  <li class="personal-menu__item"><a class="personal-menu__link" href="personal_4.html"><span class="personal-menu__link-text">Мои заказы</span></a></li>
  <li class="personal-menu__item"><a class="personal-menu__link" href="personal_6.html"><span class="personal-menu__link-text">Профиль</span></a></li>
  <li class="personal-menu__item"><a class="personal-menu__link" href="personal_7.html"><span class="personal-menu__link-text">RMA-заявки</span></a></li>
  <li class="personal-menu__item"><a class="personal-menu__link" href="#"><span class="personal-menu__link-text">Выйти</span></a></li>
</ul>

<ul class="main-menu">
  <li class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">Игровые компьютеры</span></a></li>
  <li class="main-menu__item main-menu__item--title">ИГРОВЫЕ СЕРИИ</li>
  <li class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">ProGaming - серия</span></a></li>
  <li class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">Performance - серия</span></a></li>
  <li class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">Performance X - серия</span></a></li>
  <li class="main-menu__item main-menu__item--title">СПЕЦИАЛЬНЫЕ СЕРИИ</li>
  <li class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">Powered by ASUS</span></a></li>
  <li class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">Powered by AMD</span></a></li>
  <li class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">Рабочие станции</span></a></li>
  <li class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">Моноблоки</span></a></li>
  <li class="main-menu__item"><a class="main-menu__link" href="#"><span class="main-menu__link-text">Аксессуары</span></a></li>
</ul>
